[2019-09-22 08:47] williamdenton opened #1 "__EFMigrationsHistory columns are snake_cased, upgrading needs manual alter script"
An extra gotcha that maybe worth mentioning in the readme:

Referencing this package also snake_cases the columns in the `__EFMigrationsHistory` table (though interestingly, not the table name itself). This means migrations fail as they can not run a version check to obtain the current database version.

This was solved by running this script on the DB
[code]

I have been using code very similar t

[2019-09-25 08:55] kanonlemon opened #2 "Naming convention not applied to tables in ASP.NET Identity"
.net3.0 core
in my code
[code]

the result of Migrations shows:

all columns have changed to snaked mode
but table names keep the CamelCase

[2019-09-26 21:33] JwanKhalaf commented on #1
@williamdenton isn't this the wrong way around?

[code]
Shouldn't you be renaming it back to `MigrationId`?

You are right in raising this issue though. I am working with IdentityServer4 and that has [two db contexts](http://docs.identityserver.io/en/latest/quickstarts/7_entity_framework.html).

One set of migrations works, but the other fails because of the column name issue.

https://i.imgur.com

[2019-09-26 21:59] williamdenton commented on #1
@JwanKhalaf in my case i already had a `__EFMigrationsHistory` table, after adding the package, the ef query that inspects this table for migrations required snake cased columns

[2019-09-27 01:57] ZekeLu opened #3 "Apply naming conventions to primary/foreign key constraints and indexes"
For this context:

[code]

The generated script is:

[code]

You can see that PK,  FK, and IX in constraint/index names are in upper case. Should them be lower cased too?

Here is the simple example project: https://github.com/ZekeLu/npgsqlExample

[2019-09-27 11:08] alaatm opened #4 "When using Owned entity types, UseSnakeCaseNamingConvention will split tables"
When using `OwnsOne(...)`, the owned entity will be created in its own table and a shadow PK/FK is created.

This is a different behaviour from the default where the owned entity should be mapped to the parent table instead.

[code]

With `UseSnakeCaseNamingConvention()` the following tables are created:

[code]

**Without** `UseSnakeCaseNamingConvention()` the following table is created:

[code]

[2019-09-28 10:30] JwanKhalaf commented on #1
ah I see @williamdenton. Am I right in thinking that if one wishes to avoid manual intervention, one shouldn't currently use this package?

[2019-10-07 10:52] andersarpi commented on #3
I really think they should. Otherwise they require quoting in scripts as well. Obviously they aren't used that much in manual SQL writing, but it still feels like something that should be done.

[2019-10-17 11:10] roji commented on #4
Apologies, I was accidentally not subscribed to notifications on this repo, will try to investigate ASAP.

[2019-10-17 11:13] roji commented on #3
Apologies, I was accidentally not subscribed to notifications on this repo. I remember considering this when writing the plugin, I'll think about this, let's see what other people think as well.

[2019-10-17 11:19] roji commented on #2
Apologies, I was accidentally not subscribed to notifications on this repo.

I cannot reproduce this issue, can you please submit precise steps which reproduce the problem? Here's what I did:

Starting program:

[code]

I created a migration, then added `.UseSnakeCaseNamingConvention()` in OnConfiguring, and created a second migration. At this point, when generating a database with the migrations

[2019-10-17 11:22] roji commented on #1
Apologies, I was accidentally not subscribed to notifications on this repo, will try to investigate ASAP.

[2019-10-17 20:14] williamdenton commented on #1
@roji it might be useful to have a configuration object that controls which parts of the schema have the naming convention applied. then people can opt in to the bits they need/want, or migrate in a controlled manner

[2019-10-18 10:02] roji commented on #1
@williamdenton allowing fine-grained configuration of which parts of the schema are affected seems a bit much to me... I have a hard time imagining a situation where people want to snake_case only columns but not tables as part of a gradual migration (but am open to hear otherwise!).

For __EFMigrationHistory specifically, I have to investigate since this table has a specific meaning to EF Core, a

[2019-10-28 15:56] pawmot commented on #2
Hi @roji, I don't know if @kanonlemon encountered exactly the same issue as me, but in my case the Identity Core tables were problematic - columns were snake_case, but table names remained CamelCase. I was able to fix this by configuring the model - using just `UseSnakeCaseNamingConventions` was not enough. When it comes to my own types table names and columns were OK, but e.g. primary keys were s

[2019-11-01 17:16] kattunga commented on #3
Me too.
Keeping the index and constraints as
`CONSTRAINT "PK_book_id" PRIMARY KEY (book_id)`
is really ugly

[2019-11-10 17:42] devgrav commented on #4
Hello, @roji! Do you have any news about this issue?

[2019-11-10 18:51] roji commented on #4
No, sorry, I haven't had time to look... I'll try to find time next week to look at this.

[2019-12-06 18:53] jasonwarford commented on #2
I'm experiencing the same thing. In my case I'm using dotnet core 3.1 and trying to generate the migrations for Identity Server 4 PersistedGrantDbContext and ConfigurationDbContext.

I'll try to pair it down to a simple example that illustrates the issue.

[2019-12-06 19:25] roji commented on #2
That would be great.

[2019-12-09 14:54] etiennecl commented on #1
Any news on this?

[2019-12-12 13:57] akhansari commented on #3
I ended up creating this code before knowing this repo 🤔

It's a F# code but easily translatable to C#.

[code]

[2020-01-07 11:50] pm64 opened #6 "Only column names are affected, table names remain in default case"
I'm using this package for a project that uses ASP.Net Identity. It appears to be working, however only my column names wind up in snake_case -- table names AreStillTheSame.

This accepted answer to a recent SO post (https://stackoverflow.com/questions/59286100/aspnetcore-identity-using-postgresql-how-to-create-structure) shows that the author had to bring additional logic into OnModelCreating() t

[2020-01-13 16:25] andrewcfrancis2 commented on #3
I also vote for this issue to be implemented. In the meantime, I'm using @akhansari's code in C# like this:

[code]

[2020-01-13 18:54] roji commented on #3
To everyone who's commented, sorry I haven't had time to look at this... I promise to try to set aside some time and fix this issue (as well as others in this plugin)...

[2020-01-15 13:57] dimkadv2 opened #7 "Incorrect name for include properties for index"
When using the following design
[code]
then we get the following migration code for the index

[code]

[code]

there is an error installing migration
when using the ToTable extension, the table name does not change

[2020-01-15 14:07] roji commented on #7
Can you please post the error? Also, can you please include a minimal model, before and after the migration, so I can reproduce the issue?

[2020-01-15 14:44] dimkadv2 commented on #7
Hi,  here is the code that demonstrates the problem
[code]

Migration:

[code]

when call "Update-Database" get exception:

`Failed executing DbCommand (3ms) [Parameters=[], CommandType='Text', CommandTimeout='30']
CREATE INDEX "IX_accounts_id" ON accounts (id) INCLUDE ("Firstname", "Lastname");
Npgsql.PostgresException (0x80004005): 42703: column "Firstname" does not exist
   at Npgsql.NpgsqlConn

[2020-01-15 15:08] roji commented on #7
Thanks, I can the exception happening. As a workaround, if you remove `UseSnakeCaseNamingConvention` it will work - but I will definitely look at resolving this for 3.1.1.

[2020-01-15 15:13] roji commented on #7
This is actually a provider in the provider and not with this plugin - changing the column name manually also triggers the exception. Replacing this with https://github.com/npgsql/efcore.pg/issues/1201.

[2020-01-15 15:13] #7 closed

[2020-01-16 18:28] roji opened #10 "Apply naming conventions to schemas"

[2020-01-16 19:19] roji commented on #6
Duplicate of #2

[2020-01-16 19:19] #6 closed

[2020-01-16 19:27] roji commented on #2
tl;dr for now, this plugin won't affect ASP.NET Identity tables - you'll have to apply naming manually (e.g. [see this SO](https://stackoverflow.com/questions/59286100/aspnetcore-identity-using-postgresql-how-to-create-structure)).

The problem is specific to the ASP.NET Identity model. Because the model uses generic types (TUser, TRole...), it [explicitly configures table names in OnModelCreating

[2020-01-16 20:06] roji opened #11 "Upper case naming convention"
SomeName -> SOMENAME

[2020-01-16 20:36] #11 closed

[2020-01-16 21:34] roji opened #13 "Apply naming conventions to sequences"

[2020-01-16 21:36] roji commented on #10
This actually makes no sense. The only way to define a table in the non-default schema is to specify it using the fluent API/data annotations, in which case you're already specifying the name (and overriding any convention, provided by the plugin or otherwise).

[2020-01-16 21:36] #10 closed

[2020-01-16 21:38] roji commented on #13
This actually makes no sense. The only way to define a sequence is to specify it using the fluent API, where you already have to specify the name (and override any convention, provided by the plugin or otherwise).

[2020-01-16 22:12] ajcvickers commented on #2
@roji The ASP.NET Core Identity model is heavily configured--very few conventions are used in its configuration. It's seems pretty complicated to try to go back to using some conventions after this--it's not something I think you can do now. Even if we did, it would be work and a breaking change for Identity to opt into it, which I don't think will happen.

[2020-01-16 22:18] #4 closed

[2020-01-16 22:40] roji commented on #2
That's what I thought. I'll close this for now...

[2020-01-16 22:40] #2 closed

[2020-01-17 10:36] roji opened #14 "Target EF Core 3.1 and netstandard2.0"

[2020-01-17 10:36] #14 closed

[2020-01-19 03:12] atrauzzi opened #15 "Plural DbContext names, singular tables?"
As the title says, I think one convention that might be worth having as a toggle is to inflect singular table names from plural `DbContext` properties.

🙂

[2020-01-20 09:38] #3 closed

[2020-01-20 09:42] roji commented on #15
@bricelam I know we occasionally mention pluralization but I don't have a good picture of this... Does pluralization/singularization belong in a naming conventions plugin like this one?

[2020-01-20 18:43] bricelam commented on #15
We don’t do it at runtime in the product because fixing any pluralization bugs would be a breaking change. We gave plans to do it at design time for reverse engineering. IMHO, it’s totally fine in an extension like this where the bar for breaking changes is a lot lower.

But, just removing the convention that uses the DbSet name as the table name would be enough for this issue, right?

[2020-01-21 16:58] atrauzzi commented on #15
I think the idea is that a convention is still desired, just that it inflects for table names as .net prescribes plural `DbSet`s and some DBs use singular, snake cased equivalents.

[2020-01-23 15:56] roji commented on #15
I agree singularization should be OK in this extension, anyone know of a good singularizer?

[2020-01-24 21:46] bricelam commented on #15
The Roslyn team uses https://github.com/Humanizr/Humanizer for name reccomendations

[2020-01-24 21:47] bricelam commented on #15
But wouldn't doing https://github.com/dotnet/efcore/issues/11160 light up with this extension?

[2020-02-07 17:11] jasonmueller opened #16 "Generated designer file with derived type fails to compile when schema specified"
When using any of the included conventions with a base type and derived type and a non-default schema, the designer file generated by `dotnet ef migrations add` fails to build.  I'm using version 3.1.1 dependencies for tooling and packages and .NET Core 3.1.

This appears to be happening in the EF Core stack somewhere, after conventions are applied, but I can't tell for sure.  It looks like it's t

[2020-02-09 12:35] jamalabo1 commented on #4
@roji This issue is still happening even in version `1.1.0`

[2020-02-09 17:31] roji commented on #4
@jamalabo1 can you please open a new issue for this? I'll look into it.

[2020-02-09 20:49] jamalabo1 opened #17 "`OwnsOne` does not convert correctly."
the naming conventions do not convert the naming correctly,
instead of `location_floor`, it converts to `floor`

the version I'm using: `1.1.0`

[code]
[code]

#### with `UseSnakeCaseNamingConvention()`:

```(id, creation_date, modification_date, title, building, floor, room)```
#### without `UseSnakeCaseNamingConvention()`:

```("Id", "CreationDate", "ModificationDate", "Title", "Location_Buildin

[2020-02-11 16:33] nerdpad opened #18 "HasAlternateKey does not generate lower snake case. It generates "AK_table_column"."
As the title suggests when using `HasAlternateKey` the migration code generates `AK_table_column`

Please generate all lower case `ak_table_column` like other generated keys.

[2020-02-12 13:39] #18 closed

[2020-02-19 21:25] joaopgrassi commented on #1
It's probably good to consider the default behavior with the "fix": I'll probably use the same approach as @williamdenton and rename my migration table so I can continue working with ef commands. I'd assume most ppl will do the same.

But: if I create a new database from scratch, the columns are already created with the snake case convention, so the change to fix existing databases will (in my cas

[2020-02-24 17:38] nerdpad commented on #15
I had to use `Humanizer` in my project to achieve this. It will be great if it was part of this extension.

[2020-03-11 17:58] jamalabo1 commented on #17
@roji any updates?

[2020-03-25 17:45] VitalyV commented on #15
Do we have any progress?

[2020-03-26 00:39] roji commented on #15
Not at the moment, there's too many other things going on. I can try to review a PR though.

[2020-03-28 18:22] roji commented on #17
Sorry that I haven't responded, these are very busy times... I'll do my best to get around to this.

[2020-03-28 19:29] jamalabo1 commented on #17
@roji no worries,
I'd also like to note that it does not track updated properties, even when I specify the name using fluent API

using the way below allows me to insert entities, but I can't update them because EFcore does not track them and set's the value to null instead.
[code]

[2020-03-28 21:27] roji commented on #17
Yeah, owned entities are a bit tricky because names get changed under the hood. I'll try to look into it as soon as I can.

[2020-04-01 20:48] flashQarl commented on #17
Hi @jamalabo1 !

You need to specify the name of the column that has the foreign key in database.

Try something like this:
`modelBuilder.Entity<Room>().OwnsOne(p => p.Location,
    cb =>
    {
        cb.ToTable("room_locations"); // Only if you have table splitting

        cb.WithOwner().HasForeignKey("location_room"); // Foreign key with database column name

        cb.Property(x => x.Buildin

[2020-04-02 17:47] jamalabo1 commented on #17
@flashQarl I'm not interested in splitting tables
But I have done this workaround

[code]

[2020-04-05 15:39] tavgordon commented on #1
Started a new project and have run into this problem. Can't even create an initial migration because of this. Any progress on resolving?

[2020-04-07 14:04] emrahcetiner opened #19 "Globalization mistake"
"ID" converting to "ıd" with tr-TR globalization.
should be define default thread culture to en-us or may be UseSnakeCaseNamingConvention take culture parameter.

[2020-04-07 21:23] roji commented on #19
Thanks - make sense. If you'd like to do a PR I'd be happy to look at it (the plugin really isn't very complicated).

[2020-04-09 12:31] ErikEJ opened #20 "Update readme to mention additional conventions"

[2020-04-11 21:20] 10GeekJames opened #21 "Not making any changes to table names, but does columns"

[2020-04-11 21:27] 10GeekJames commented on #21
![image](https://user-images.githubusercontent.com/5634551/79055267-b3282280-7c19-11ea-8c1f-b75dae94701d.png)

[2020-04-12 17:41] roji commented on #2
Note to anyone hitting this: although the plugin can't apply its naming conventions, you can do this yourself by dropping the following into your OnModelCreating:

[code]

[2020-04-12 17:51] roji commented on #21
Duplicate of #2

[2020-04-12 17:52] roji commented on #21
This is a problem specific to ASP.NET Identity. Note that you can use the workaround detailed here: https://github.com/efcore/EFCore.NamingConventions/issues/2#issuecomment-612651161

[2020-04-12 17:52] #21 closed

[2020-04-12 20:08] 10GeekJames commented on #2
to make the above compile I needed to add .HasNoKey() to each line.  This did help with those tables, thank you.  However; I seem to have a different situation where NO tables are getting the lower-case treatment.  I do have the project broken across several projects with data, infrastructure, front-end.  The front end is where something like dotnet ef database migration would be called.  When I i

[2020-04-12 21:53] roji commented on #2
You should definitely not be adding HasNoKey() to the above - are you sure you're using `string` as your key? If not, you need to change the generic type parameter above. Otherwise please post your identity DbContext.

Re the 2nd problem - are you saying you're seeing a non-Identity table not being affected by this plugin? If so, can you please open a new issue with a minimal code sample?

[2020-04-16 03:19] mhosman opened #22 "Problem with table names"
Columns are being updated to snake case but table names remain unchanged

[2020-04-21 08:14] ebugusey opened #23 "Strong name signature could not be verified"
.NET throws this error, when I use this library in "good" old WCF.

[code]
I'm using .NET Framework 4.7.1 (it's compatible with netstandard2.0) and version 1.1.0 of this library.

[2020-04-21 14:37] adomorn commented on #19
just use Invariant version of ToLower method

[2020-04-21 17:05] roji commented on #19
We should definitely accept a culture parameter to the extension methods, and default to Invariant. I'd welcome a PR on this.

[2020-04-24 07:52] alexvab commented on #23
We also have this issue in the asp.net mvc 5.x app
[code]
.NET Framework 4.8 and version 1.1.0 of this library.

[2020-04-28 14:37] iSlaffko commented on #22
You've probably used implicit table naming, e.g. .ToTable("TableName") which is not a convention naming but rather an implicit one. Should you eliminate such statement and create new migration, related table will probably be renamed according to the used convention.

[2020-04-28 15:02] roji commented on #22
In addition to what @iSlaffko wrote, the plugin cannot manage the naming of ASP.NET Identity tables (as opposed to their columns), see #2.

Otherwise can you please post a short code sample to show the problem?

[2020-04-29 00:56] mhosman commented on #22
Okay yes, I'm using implicit table naming: .ToTable("whatever"). I'll change that.
Closing issue. Thanks!!

[2020-04-29 00:56] #22 closed

[2020-05-02 17:55] adomorn commented on #19
PR sent :)

[2020-05-04 10:34] #19 closed

[2020-05-23 09:57] verdie-g opened #26 "Owned entity prefix is not snake-cased"
# Steps to reproduce

[code]

## Expected
After migration, a table `owner` with the following columns:
- `owned_entity1_a`
- `b`
- `owned_entity2_a`
- `c`

## Actual

A table `owner` with the following columns:
- `OwnedEntity1_a`
- `b`
- `OwnedEntity2_a`
- `c`

[2020-05-23 10:27] verdie-g opened #27 "SnakeCaseNameRewriter with word ending with a digit"
[SnakeCaseNameRewriter ](https://github.com/efcore/EFCore.NamingConventions/blob/master/EFCore.NamingConventions/NamingConventions/Internal/SnakeCaseNameRewriter.cs) should rewrite `Abc1Def` as `abc1_def` but rewrites it as `abc1def`.

[2020-05-23 10:52] roji commented on #27
/cc @YohDeadfall

[2020-05-23 10:59] YohDeadfall commented on #27
While this looks right in your case, it doesn't in other. For example, `Xml2Linq` should be translated as `xml_2_linq` or as `xml2linq`. There is no rule how translation should work, but .NET got `System.Text.Json` as a standard JSON serializer, and there is a feature request to support the snake case naming policy. It's blocked by some open questions, but when it happens, I will finish the work a

[2020-05-23 11:14] #20 closed

[2020-05-23 11:28] #23 closed

[2020-05-23 11:40] roji opened #28 "Look into rewriting schemas too"

[2020-05-23 12:58] #16 closed

[2020-05-23 13:04] roji opened #29 "Support TPT inheritance"
The plugin currently only rewrites table names on root entities (see #16). Once 5.0 is out there'll be TPT support, so we'll need to support that.

[2020-05-23 13:04] roji commented on #16
@jasonmueller thanks for reporting this, and the quality repro/workaround suggestions (and sorry it has taken me so long to get around to it). The basic problem here is that the plugin attempts to rename derived types, which makes no sense in the current EF Core inheritance support (which is TPH only). When 5.0 is released with TPT, we'd need to support that (opened #29 to track).

[2020-06-02 13:10] sergeyshaykhullin opened #30 "Missing ProcessForeignKeyOwnershipChanged with 5-preview4"
Naming conventions throws on preview3-4, but works on preview2

### Reproduction
1. Create 5 preview4 project
2. Add EF preview4 (Npgsql provider used)
3. Add test entity
4. Add conventions
5. Run dotnet ef migrations add ...

### Stacktrace:

[code]

[2020-06-11 21:05] mhosman commented on #30
Same issue in Preview 5

[2020-06-17 15:48] sergeyshaykhullin commented on #30
@roji Hello, can you, please, help with this?

[2020-06-17 23:25] #17 closed

[2020-06-17 23:25] #30 closed

[2020-06-17 23:25] #26 closed

[2020-06-17 23:39] roji commented on #30
I've just released a new version which works with EF Core 5.0.0-preview5 - let me know how it works!

[2020-06-17 23:39] roji commented on #26
Fixed in 5.0.0-preview5

[2020-06-17 23:40] roji commented on #17
Fixed in 5.0.0-preview5

[2020-06-26 14:16] rafaelpadovezi opened #31 "Apply more than one convention or create a new one"
One useful convention is the UPPER_CASE combined with snake_case. I did a quick test and it seems using more than one convention does not work.

I could try to make a PR if you don't mind, but what would be the best way?

[2020-06-26 15:48] roji commented on #31
Yeah, you can't combine naming conventions - and I don't think it would be a good idea to go down this route (things are a bit more complex than they seem). However, we could just add a new convention called UpperSnakeCase, which should be rather trivial...

[2020-06-26 19:36] #31 closed

[2020-06-26 19:37] roji commented on #31
Thanks @rafaelpadovezi, merged you PR!

[2020-06-26 19:42] rafaelpadovezi commented on #31
Thanks @roji. Will you release a new nuget version soon?

[2020-06-26 19:56] roji commented on #31
If you're on the EF Core 5.0 previews, then I'll probably release a nuget here very soon, for preview6. Apart from that, I wasn't planning on another release for 3.1 - the master branch has already been modified to work with the latest EF Core 5.0, so backporting this for 3.1 isn't completely trivial. Is using 5.0 previews an option for you? They're considered quite stable.

[2020-06-26 20:09] rafaelpadovezi commented on #31
It's not an option because I'm using EF with Oracle. Using this package would give me a better and more robust solution but I can wait if Oracle don't delay their release forever. Thank you for your time.

[2020-07-11 06:51] twinmind opened #33 "UseSnakeCaseNamingConvention() Does not Handle Owned Entities Table Names"
For example, for a context like this

[code]

I get initial migration with table names like this:

[code]
I would expect table name to be `refresh_tokens` for entity `RefreshToken`. And it would be generated correctly if I remove `[Owned]` attribute on `RefreshToken` entity.

[2020-07-11 07:44] roji commented on #33
Which versions of EF Core and of EFCore.NamingConventions are you using? Can you please try with version 5.0.0-preview5 of this library if you aren't using that?

[2020-07-11 16:01] twinmind commented on #33
I'm using EFCore.NamingConventions 1.1.0 with Microsoft.EntityFrameworkCore 3.1.5 and Microsoft.EntityFrameworkCore 3.1.4 when I have this issue.
I tried to upgrade EFCore.NamingConventions to version 5.0.0-preview5 in my small ASP.NET Core project, but it seems that I need to upgrade other dependencies to 5.0.0 previews as well and also install actual .NET 5 SDK. I'll do that will update this iss

[2020-07-11 16:56] twinmind commented on #33
I've created a test console app, where I created my context, all references are 5.0.0 latest previews. When I run `add-migration initial`, I get runtime exception:
[code]

References:
![image](https://user-images.githubusercontent.com/9801734/87229432-b63bc780-c35c-11ea-8414-b5dee270a529.png)

If I remove `.UseSnakeCaseNamingConvention()`, then migration succeeds.

[2020-07-11 16:58] twinmind commented on #33
With that being said, if this is reproducible in EFCore.NamingConventions 1.1.0, is there a possibility to release a minor version with the fix? I guess most people prefer to stick to stable releases.

[2020-07-11 23:04] roji commented on #33
I'm guessing you're mixing preview versions, i.e. preview5 of this lib with preview6 of EF Core. Can you please try aligning to preview5?

[2020-07-11 23:30] twinmind commented on #33
Good catch, thanks. I aligned all references to preview 5 and was able to generate migration. The same issue occurs with version 5.0.0-preview5 as with 1.1.0, i.e. owned entity table name doesn't get transformed according to convention. One other issue that came up is that non-key columns in owned entity table are prefixed with table name in snake case, i.e. `refresh_token_token`, `refresh_token_e

[2020-07-12 08:30] roji commented on #33
Thanks @twinmind, I'll try take a look soon. There have been many changes from 3.1 to 5.0, so unfortunately I'm not sure I'll have time to release a fixed version that works with 3.1 - but let's see.

[2020-07-24 09:15] jelleverheyen opened #34 "[BUG] Specifying schema for TPH entities causes malformed migrations"
**EF Core Version:**  3.1.5
**Npgsql.EntityFrameworkCore.PostgreSQL version:** 3.1.4
**EFCore.NamingConventions version**: 1.1.0
**dotnet-ef tool version:** 3.1.6

## Behavior
Using the `NamingConventions.UseSnakeCaseNamingConvention()`;

We have a base class `Permission` with 2 subclasses `OperationPermission` and `DataPermission` defined as follows:
[code]

When creating a migration, the model i

[2020-07-27 10:32] roji commented on #34
Thanks for reporting this.

What is the exact type of Type? This doesn't seem to be the .NET ClaimTypes, is it?

Also, can you please give the [5.0.0-preview5](https://www.nuget.org/packages/EFCore.NamingConventions/5.0.0-preview5) version a test and report if it works any better?

[2020-07-29 07:01] jelleverheyen commented on #34
@roji I just updated the issue with the types.
No it's not .NET ClaimTypes, it's something we implemented on our end:
[code]

Later today I will set up a way to reproduce and one with 5.0.0-preview5 as you mentioned

[2020-08-09 04:40] lajith111 commented on #33
i am using ef core 5  preview 7 .. migration  not working for owned type.. am getting below error..Same works previous version..
Please update to new version ..thanks

![image](https://user-images.githubusercontent.com/28708173/89725027-6d913000-da28-11ea-8c16-8e2d934bc4b3.png)

[2020-08-12 10:05] kad1r commented on #19
I'm still having the same issue. How can I fix it?

[2020-08-14 13:28] roji commented on #19
This has been fixed for version 5.0.0 - you can try the released 5.0.0-preview5 (but will have to align to preview5 with other EF Core-related packages).

[2020-08-20 01:08] hantatsang commented on #1
I think it'd be great if there's an option to avoid altering the `__EFMigrationsHistory` table.

In my case, I use IdentityServer4, running migrations for IdentityServer4 DB context will throw:

[code]

So I tried manually changing the columns back to how they were:

[code]

Now running IdentityServer4 migrations will work:

[code]

But this causes a new problem where if I create a new migration a

[2020-08-26 14:15] sergeyshaykhullin opened #35 "Bump efcore dependencies"
Preview8 is throwing on startup

[2020-09-07 10:10] TimmVonPuttkamer opened #36 "Owned entities whose parent entity's ID column name is not standard"
I came across the following problem when using owned entities together with UseSnakeCaseNamingConvention. The minimal example works as follows:

[code]

When running ```bash dotnet ef migrations add InitialCreate```, I get the following error:
[code]
If I try to generate the same migration but without UseSnakeCaseNamingConvention, it works. Is there something I am missing?

I am using EF Core 3.1.

[2020-09-09 02:46] leoskey commented on #1
@hantatsang
try it
[code]

[2020-09-09 18:24] Martin-Andersen opened #37 "Question - Are there a similar project for datatypes"
Hi I am using your project for following Oracle naming conventions. Do you know of a similar project for setting datatypes?

string should default to varchar2 and the list goes on (:

[2020-09-10 14:03] Martin-Andersen opened #38 "Wanted UpperSnakeCaseNameRewriter"
Hi it's in the master branch but not in 1.1 or preview 5.

Will it make it into the next release?

[2020-09-10 14:18] roji commented on #38
There hasn't been a release recently - I will try to do one for 5.0.0-rc1. The next release that appears should have this.

[2020-09-10 14:18] #38 closed

[2020-09-12 23:53] roji commented on #37
@Martin-Andersen are you asking how to determine what .NET string properties should be mapped to in the database? If so, that's not really related to naming conventions, which manage the names of tables, columns and the like. You may be looking for [these docs](https://docs.microsoft.com/en-us/ef/core/modeling/entity-properties?tabs=data-annotations%2Cwithout-nrt#column-data-types).

Otherwise, po

[2020-09-13 14:08] roji commented on #35
Will release 5.0.0-preview8 very soon.

[2020-09-13 14:08] #35 closed

[2020-09-13 14:57] roji commented on #28
Unless I'm missing something, schemas are always explicitly set by the user, so we don't need to actually rewrite anything (and also can't). Not sure what past @roji had in mind here.

[2020-09-13 14:57] #28 closed

[2020-09-13 15:01] roji commented on #29
Since TPT is set up by providing explicit table names on entities, there's nothing for us to do here.

[2020-09-13 15:01] #29 closed

[2020-09-13 15:08] roji commented on #33
I've just published 5.0.0-preview8 to work with the latest EF Core preview. As far as I know owned entities should work well in that version, so I'm going to close this issue for now. If you still encounter issues with this, please open a new issue with the full repro information for 5.0.0-preview8 and I'll handle it.

[2020-09-13 15:08] #33 closed

[2020-09-13 15:26] roji commented on #36
Thanks, I can confirm this still happens with the recently-released 5.0.0-preview8, will try to fix this for rc1.

[2020-09-13 15:27] roji commented on #34
@jelleverheyen any progress on this? I just released 5.0.0-preview8, it would be great if you could try on that.

[2020-09-13 21:20] roji commented on #38
FYI ice just released 5.0.0-preview8

[2020-09-24 15:20] sandord opened #39 "Primary key constraint names all become equal for types within a TPT (.NET 5-rc.2)"
When applying the snake case naming convention, primary key constraint names are generated incorrectly for tables that map to entities that are part of a TPT mapped hierarchy.

I'm on .NET 5.0.0-rc.2.20472.13 by the way.

Without applying the convention, the constraint names are generated correctly, corresponding to their table names.

The problem is that all derived classes get the same primary k

[2020-09-25 11:41] sandord commented on #39
This appears to be a problem with EFCore, not EFCore.NamingConventions specifically: https://github.com/dotnet/efcore/issues/22753

[2020-09-25 17:52] #37 closed

[2020-10-08 11:37] rfpedrosa opened #40 "Expose internal classes"
Sometimes, I end up defining how things should be named in the DB. For example:

`.UseHiLo($"{nameof(MyClass).ToSnakeCase()}_hilo")`

[code]

I end up writing my own string extension to have consistent snake case naming but, ideally, I would reuse [SnakeCaseNameRewriter](https://github.com/efcore/EFCore.NamingConventions/blob/main/EFCore.NamingConventions/Internal/SnakeCaseNameRewriter.cs):
1. for

[2020-10-09 10:17] lajith111 commented on #33
No issue still persist in 5.0.0-rc.  After i run Update-Database -Context CBSContext
If i remove  options.UseSnakeCaseNamingConvention(); migration works fine ...i think same key name generration..Please check

[code]

[2020-10-09 10:29] lajith111 opened #41 "UseSnakeCaseNamingConvention() Does not Handle Owned Entities Table in 5.0.0.rc"
For example, for a context like this

[code]

When run  issue still persist in 5.0.0-rc.  After i run Update-Database -Context CBSContext

ther following error shown

[code]

If i remove options.UseSnakeCaseNamingConvention(); migration works fine ..

[2020-10-09 10:45] lajith111 commented on #41
if define owned entity with primary key migration works..

[code]

[2020-10-16 17:23] aneves commented on #27
Chiming in with another use or test case: Custom3dModel.

[2020-11-01 10:19] erte12 opened #42 "Convention idea"
Hi,
I used to work with convention like this. Let's say we have entitites:

[code]

[code]

[code]

It should produce this data structure
Table: dbo.SUBJECT, columns:
S_ID,
S_NAME,
S_SURNAME,
S_REL_PUBLIC_PROFILE,
S_REL_DECLARATION_ITEM

Table: dbo.PUBLIC_PROFILE.
PP_ID
PP_NAME

Table: dbo.DECLARATION_ITEM.
DI_ID,
DI_NAME

Rules:
-Everything should be uppercase,
-Words are joined with _ ,
-All col

[2020-11-01 12:58] YohDeadfall commented on #42
It's more a personal naming convention than widely used. In such cases it's better to implement it yourself rather to include into a common library.

[2020-11-05 17:54] austindrenski commented on #23
Hey @roji  👋

Is there anything blocking this from being backported + published to nuget?

[2020-11-11 10:15] pavelvondrasek commented on #30
Hey, I upgraded to .net 5 with conventions v1.1 and get same message. Did I something wrong? :)

[2020-11-16 14:08] ypFrancis opened #43 "Release date for v5.0.0"
Hi there,

When will you release v5.0.0 fully compatible with new EF Core 5.0.0 ?

Thanks for the good work on EF Core 5 and Npgsql.

[2020-11-16 15:37] roji commented on #43
I plan to work on this in the coming days, hang tight...

[2020-11-16 15:37] #43 closed

[2020-11-16 23:06] ZOXEXIVO commented on #30
Same issue on v5.0

[2020-11-16 23:10] pavelvondrasek commented on #30
@roji I think it's still broken :(

[2020-11-16 23:28] ZOXEXIVO commented on #30
This my packages:
[code]

Initialization code:

[code]
StackTrace:

[code]

[2020-11-17 01:23] lajith111 commented on #41
Sir any update on this package,.. Thanks

[2020-11-17 05:35] mkarklins commented on #30
I belive you need to set the package version to `<PackageReference Include="EFCore.NamingConventions" Version="5.0.0-rc1" />` - which per this issue: https://github.com/efcore/EFCore.NamingConventions/releases is the latest release.

[2020-11-17 07:40] roji commented on #41
Not yet - I plan to work on a 5.0.0 release of EFCore.NamingConventions in the coming week or so, and will try to look at this as well. Stay tuned.

[2020-11-17 07:47] ZOXEXIVO commented on #30
@mkarklins thanks. it works

[2020-11-17 18:41] igorgomeslima commented on #2
This not work anymore.

With:

[code]

[2020-11-17 19:31] roji commented on #2
@igorgomeslima when you do ToTable, you're explicitly setting table names - EFCore.NamingConventions has nothing to do with anything at that point... Can you please double-check that there's actually a behavioral difference between 5.0.0 and a previous version?

[2020-11-17 19:37] igorgomeslima commented on #2
@roji With previous versions _5.0.0-preview8 & 5.0.0-preview5_ i got the same result. With versions below those, I got the error mentioned [here](https://github.com/efcore/EFCore.NamingConventions/issues/30).

[2020-11-17 19:41] roji commented on #2
My point is that whatever is happening with ToTable is unrelated to this plugin - you should be able to remove EFCore.NamingConventions and see exactly the same behavior as you see with it.

[2020-11-17 19:45] igorgomeslima commented on #2
Yes. If remove the plugin call, the result is the same. That way, this configuration not work.

[2020-11-17 19:46] roji commented on #2
Try posting that on the ASP.NET repo - this repo is for EFCore.NamingConventions.

[2020-11-19 18:26] odinnou opened #44 "Question : can I use v5.0.0-rc1 with EF Core 5.0.0 release ?"
Hello, first of all thank for your amazing job.

I have an early adopter question :P
.NET 5.0 was just released a week ago, the 5.0.0-rc1 version of "NamingConventions" is it fully compatible with EF Core 5.0.0 or I need to wait a little bit for the true release ?

Thanks in advance,
Kind regards

[2020-11-20 14:03] roji commented on #44
It *may* work, but it would be more advisable to wait another week or two until a 5.0.0 version of EFCore.NamingConventions is released.

[2020-11-20 14:03] #44 closed

[2020-11-26 10:46] roji opened #45 "Implement TPH properly"

[2020-11-26 10:46] roji opened #46 "Implement support for TPT"

[2020-11-26 16:58] roji commented on #39
Sorry for not looking at this earlier - I agree this looks like a result of https://github.com/dotnet/efcore/issues/19811 (which replaced dotnet/efcore#22753). Am closing this until that issue is fixed - let's revisit after that.

[2020-11-26 16:58] #39 closed

[2020-11-26 16:58] roji commented on #39
Duplicate of dotnet/efcore#19811

[2020-11-26 17:09] roji commented on #36
Confirmed that this is gone in 5.0.0-rc1.

[2020-11-26 17:09] #36 closed

[2020-11-26 17:15] roji commented on #34
Confirmed that this is gone in 5.0.0-rc1.

[2020-11-26 17:15] #34 closed

[2020-11-26 17:17] roji commented on #42
What we could do, is to provide a hook to allow users to provide their own rewriters.

[2020-12-01 12:22] oakular opened #48 "UpperCaseNameRewriter not implemented"
When trying to add a migration to rename all tables using the snake case format, the following exception is thrown:
`Method 'ProcessForeignKeyOwnershipChanged' in type 'EFCore.NamingConventions.Internal.UpperCaseNameRewriter' from assembly 'EFCore.NamingConventions, Version=1.1.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7' does not have an implementation.`

I am using EF Core 5, and notic

[2020-12-01 14:03] roji commented on #48
Yeah, you can't mix versions - you'll need to wait until the 5.0 version of EFCore.NamingConventions is released (probably in a day or two).

[2020-12-01 14:03] #48 closed

[2020-12-04 14:45] sbdevman opened #49 "Migration issue in None-English region machines."
Hi,
There is an issue when using the machine in the Turkish region.
When your application applies migration there is a bug with Turkish characters. for example, it converts customer_id to customer_ıd!
I am using EF 3.1 in Postgresql

[2020-12-04 15:00] YohDeadfall commented on #49
Thanks, will take a look!

[2020-12-05 12:08] sbabaei commented on #49
Another problem is in querying! it still uses the " in queries when columns are snake-case but it throws an exception. The below snippet is an example :

   at Swashbuckle.AspNetCore.Swagger.SwaggerMiddleware.Invoke(HttpContext httpContext, ISwaggerProvider swaggerProvider)

   at Hellang.Middleware.ProblemDetails.ProblemDetailsMiddleware.Invoke(HttpContext context)

  Exception data:

    Severit

[2020-12-05 12:12] sbabaei commented on #49
But all of these are happening in using IIS, when I use dotnet run command or exe output to run it works fine. seems that it has a problem with IIS globalization!

[2020-12-05 14:52] sbabaei commented on #49
Another Bug! I have an Owned Type that I want to map to the same table as the owner.
This a code snippet of my configuration:

            builder.OwnsOne<ImportanceDegree>(publication => publication.ImportanceDegree, a =>
            {
                a.Property(x => x.SeverityId).HasColumnName("SeverityId");
            });

When I adding migration I get this error:

The keys {'Id'} on 'Publicat

[2020-12-05 14:55] roji commented on #49
@sbabaei please open a new issue for your second problem (this issue is already about something else), with a full runnable code sample.

[2020-12-05 14:55] sbabaei opened #50 "Mapping owned type issue in Postgresql"
Another Bug! I have an Owned Type that I want to map to the same table as the owner.
This a code snippet of my configuration:

        builder.OwnsOne<ImportanceDegree>(publication => publication.ImportanceDegree, a =>
        {
            a.Property(x => x.SeverityId).HasColumnName("SeverityId");
        });
When I adding migration I get this error:

The keys {'Id'} on 'Publication' and {'Public

[2020-12-06 17:34] roji commented on #50
@sbabaei can you please submit a runnable code sample, including a minimal model? It's difficult to know exactly what you're doing from the fragment above.

[2020-12-10 12:52] #41 closed

[2020-12-10 12:52] #45 closed

[2020-12-10 12:52] #46 closed

[2020-12-11 15:03] hey-red commented on #50
Same issue after upgrade from 5.0.0-rc1 to 5.0.0.

[code]

`The keys {'AttachmentId'} on 'Dimensions' and {'Id'} on 'Attachment' are both mapped to 'attachments.pk_attachments' but with different columns ({'attachment_id'} and {'id'}).`

[2020-12-11 15:05] Stealcase commented on #1
TEMP WORKAROUND:

1. add ".UseSnakeCaseNamingConvention()"
2. Create the migration: `dotnet ef migrations add RenameToSnakeCase`
3. Remove the line "UseSnakeCaseNamingConvention:
`(opt => opt.UseNpgsql(connectionStr).`<strike>UseSnakeCaseNamingConvention()</strike>)
4. Update the database: `dotnet ef database update`
5. Re-add the line "UseSnakeCaseNamingConvention()

This Creates your migration w

[2020-12-13 21:51] sbabaei opened #51 "Not implemented bug"
A library of bugs. after upgrade to 5.1:

 System.TypeLoadException: Method 'ProcessForeignKeyOwnershipChanged' in type 'EFCore.NamingConventions.Internal.UpperCaseNameRewriter' from assembly 'EFCore.NamingConventions, Version=1.1.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7' does not have an implementation.
   at EFCore.NamingConventions.Internal.NamingConventionSetPlugin.ModifyConventio

[2020-12-13 21:53] #51 closed

[2020-12-13 21:58] sbabaei opened #52 "Change only particular items"
I have a problem in fluent configuration. I set table name and schema names and column names but the lib is changing only foreign keys and indexs names to snake case. Tables, schemas, and columns still Pascal-case.

[2020-12-13 22:37] roji commented on #52
@sbabaei can you please submit a runnable code sample?

[2020-12-13 22:39] roji commented on #52
Note that if names are set explicitly in model configuration, this library does not override them; it only transforms names that are set by convention.

(one place where this happens is ASP.NET Identity, in case that's where you're seeing issues)

[2020-12-14 16:52] AdamQuintana commented on #50
I am seeing a similar issue with my owned entities.

[code]
Migration works in 5.0.0-rc1, but get the following error with 5.0.0:

The keys {'AsrId'} on 'AsrEntity' and {'Id'} on 'Asr' are both mapped to 'asrs.pk_asrs' but with different columns ({'asr_id'} and {'id'}).

[2020-12-15 12:03] hamidullov opened #53 "Owns property migrations error"
After upgraded on version 5.0.0 from 5.0.0-rc1 I got error Unhandled exception. System.InvalidOperationException: The keys {'AccountId'} on 'Money' and {'Id'} on 'Account' are both mapped to 'accounts.pk_accounts' but with different columns ({'account_id'} and {'id'}). for owns property

[code]

[code]

[code]

[code]

Second question: Can I implement name conventions for owns properties as Proper

[2020-12-15 23:20] rcollette commented on #53
Duplicate of #50 ?

[2020-12-16 08:39] hamidullov commented on #53
Yes. Sorry, my wrong

What about second question? For owned entities generated property name ClassName_PropertyName_OwnedPromertyName or same time ClassName_OwnedPromertyName, but I need PropertyName_OwnedPromertyName

[2020-12-16 14:34] kluhman opened #54 "Using Snake Case Breaks Table Splitting Configuration"
I've got an EF Core project using table splitting that has 3 different entities sharing the same table. This was working prior to adding the Naming Conventions package, but fails as soon as `UseSnakeCaseNamingConvention` is added to the configuration. Here is a small reproducible test

**Microsoft.EntityFrameworkCore 5.0.1**
**Npgsql.EntityFrameworkCore.PostgresSQL 5.0.1**
**EFCore.NamingConventio

[2020-12-16 19:47] jdcrutchley commented on #50
It's kind of ugly, but you can work around this by explicitly mapping the owned type's foreign key shadow property to the owning type's id column - something like:

`
public void Configure(EntityTypeBuilder<OwnerType> builder)
{
  builder.OwnsOne(ot => ot.OwnedTypeProperty =>
  {
    p => p.Property("OwnerTypeId").HasColumnName("id");
  }
}
`

[2020-12-17 05:22] roji commented on #54
Thanks for the detailed repro - I can reproduce this and will work on fixing it for 5.0.1.

[2020-12-17 13:25] #54 closed

[2020-12-19 08:52] awajan commented on #50
Having same after upgrading library from 5-rc1 to 5

[2020-12-19 21:49] roji commented on #50
Thanks to everyone reporting, I can reproduce this and will fix it for a 5.0.1 release which should happen very soon.

[2021-01-05 14:29] kYann opened #56 "Rewrite schema name"
Hello,

I have a convention that set the schema name from the table namespace.
I could write a snake case namespace but I like having separate conventions (one for the naming, one for the "casing").

So it would be great if schema name were rewrite by the NamingConventions.

P.S. : I saw an issue on the subject but it was closed and you were looking for case where the schema name would not be expl

[2021-01-09 13:12] roji commented on #56
You mean the namespace of the CLR entity type, right? What would be the desired behavior if more than one CLR type is mapped to the same table (e.g. table splitting), with different namespaces?

Regardless, this plugin doesn't aim to support every name rewriting possibility that users may want (that would be an infinite list...). I can see value in allowing users to provide a hook for the actual r

[2021-01-09 13:55] roji commented on #53
Duplicate of #50

[2021-01-09 13:56] roji commented on #53
@hamidullov regarding your second question, yes - this is how it will work in 5.0.1.

[2021-01-09 13:56] #53 closed

[2021-01-09 14:30] roji opened #57 "Support rewriting primary key name with TPT"
Rewriting is currently disabled for primary key names with TPT, because of https://github.com/dotnet/efcore/issues/23444 (https://github.com/dotnet/efcore/issues/19811).

[2021-01-09 14:30] roji commented on #52
Closing as no response was provided.

[2021-01-09 14:30] #52 closed

[2021-01-09 14:32] roji commented on #23
@austindrenski sorry, I somehow missed this message... Is this still relevant, given that version 5.0 is now out? If so I can probably release a 1.1.0 patch for this.

[2021-01-09 14:35] #50 closed

[2021-01-10 12:24] kYann commented on #56
Yes the Clr Entity Type. This is my convention, and I don't have that case so I don't handle it.

As I said, I have my conventions that I register before the naming convention that set name as I want. But then I use your conventions for name rewriting.
I think it's cleaner to have a convention for setting name and a convention for "name format".

But the EFCore.NamingConventions does not touch sch

[2021-01-10 15:07] roji commented on #56
@kYann are you saying you've written another EF Core plugin with this convention? Or some other mechanism?

If you've written a plugin with a real convention, then having multiple conventions rewriting names is probably not going to work very well at this point in EF Core - there are some ordering/interference issues, and cases where this plugin would probably reset what you convention has already

[2021-01-10 19:26] fnandocontreras opened #59 "Support for CamelCase naming convention"
Hello, what about including camelCase in supported naming conventions?
In my case i want to use EF to create and maintain a whole new database schema and this database already use camelCase convention. It would involve only lowercasing the first letter of names.
It's very useful in PostgresSQL to avoid having to use quotes everywhere without needing to lowercase every character.

### Expected beha

[2021-01-11 00:23] roji commented on #59
We can definitely add that as an additional naming convention - this should be pretty easy to do in case you want to submit a PR.

As far as I'm aware, if you don't use quotes then the entire identifier gets lower-cased - so I'm not sure how camelCase would help here. This is one of the advantages of snake_case in PG - since everything is lowercase already, no quotes are needed.

[2021-01-11 10:05] kYann commented on #56
Yes I have my own convention.

At this point, everything is working fine except that I don't have the
schema name rewrited.
Also I'm expecting that it would work fine as the default naming is already
done using conventions (the one from EFCore).

On Sun, Jan 10, 2021 at 4:07 PM Shay Rojansky <notifications@github.com>
wrote:

--
Yann

[2021-01-11 10:32] roji commented on #56
Well, I guess this plugin could rewrite the schema name if one is set by some previous convention (of course, leaving any explicit setting alone)... This way, if your convention runs before mine, everything should work OK...

[2021-01-12 21:37] fnandocontreras commented on #59
Hi, thanks for your answer, actually i checked-out the code, it seems very simple to add, i 'd like to collaborate and submit a PR, i was just wondering if it would be worst adding new NameRewriter for that or just adding an optional bool parameter to LowerCaseNameRewriter constructor to set wheter to lowercase the whole name or only the first letter.
I understand that the SnakeCase would do the j

[2021-01-12 23:04] roji commented on #59
I think it makes more sense to have a separate rewriter, since only the first character needs to be lower-cased.

[2021-01-13 00:26] fnandocontreras commented on #59
Am getting the following error when pushing to a new branch:
git push --set-upstream origin LowerCaseFirstCharacter
remote: Permission to efcore/EFCore.NamingConventions.git denied to fnandocontreras.
fatal: unable to access 'https://github.com/efcore/EFCore.NamingConventions.git/': The requested URL returned error: 403

do i need some additional rights to be able to push?

[2021-01-15 12:56] fnandocontreras commented on #59
It's done, thanks for this

[2021-01-18 17:41] #59 closed

[2021-01-18 17:46] roji commented on #59
@fnandocontreras thanks for your contribution!

As this is a small and low-risk feature, I'm including it in the 5.0.2 release which shouldn't be too far off.

[2021-01-18 21:26] fnandocontreras commented on #59
thanks for the support, it's been nice to collaborate

[2021-01-20 22:47] dwhaas82 opened #61 "Still uses quoted identifiers with Oracle provider"
I scaffolded a context from an existing Oracle database and I'm trying to get the migrations to not use quoted identifiers.  I followed the example on how to configure and used the ```.UseUpperCaseNamingConvention() ``` but it still uses quoted identifiers in the generated migration scripts.

I am using EFCore 3.1

[2021-01-21 12:02] roji commented on #61
@dwhaas82 this plugin doesn't affect how EF Core providers quote identifies - that's up to each specific provider to decide. While the Npgsql PG provider doesn't quote when not necessary, most other providers always quote. All this plugin does is change the identifier names themselves.

[2021-01-21 12:02] #61 closed

[2021-01-21 16:44] hamidullov opened #62 "Error on migrations add after added owned type to TPT entity"
[code]

After run `dotnet ef migrations add Init` I have error
`Cannot use table 'source_document_credit_operations' for entity type 'CreditOperationSourceDocument' since it is being used for entity type 'Money' and the name 'PK_source_document_credit_operations' of the primary key {'Id'} does not match the name 'pk_source_document_credit_operations' of the primary key {'CreditOperationSourceDocum

[2021-01-22 10:04] roji commented on #62
Thanks, I can confirm this repros on my side. I'll work on fixing this for the next patch release.

[2021-01-22 11:29] hamidullov commented on #62
Thanks, can you create prerelease nuget package?

[2021-01-22 12:34] roji commented on #62
I haven't fixed it yet... When I do (it will take a few days I think), I'll probably just release a patch release.

[2021-01-22 18:27] #62 closed

[2021-01-22 18:59] roji commented on #62
@hamidullov I ended up fixing this and publishing 5.0.2 - give it a try!

[2021-01-24 12:03] hamidullov commented on #62
it works fine, thank you.

[2021-01-25 08:49] yunfandev opened #64 "Foreign key name changed after upgrade to 5.0.2"
After upgrade from [5.0.0](https://www.nuget.org/packages/EFCore.NamingConventions/5.0.1) to [5.0.2](https://www.nuget.org/packages/EFCore.NamingConventions/5.0.2), I found the foreign key name changed

![image](https://user-images.githubusercontent.com/8027453/105682315-44f4e800-5f2d-11eb-9fe5-68c8fdc01675.png)

[2021-01-25 08:52] yunfandev commented on #64
It seems that version 5.0.1 also has this problem

[2021-01-25 13:30] roji commented on #64
@yunfandev can you please submit a small code sample which shows this happening? I'm seeing foreign being rewritten fine, without dropping the `id` suffix.

[2021-01-27 10:28] yunfandev commented on #64
@roji I create a demo repo [ef-namingconventions-demo](https://github.com/yunfandev/ef-namingconventions-demo), you can clone this repo and try to upgrade package [EFCore.NamingConventions](https://www.nuget.org/packages/EFCore.NamingConventions/) to 5.0.2 or 5.0.1, then rebuild solution and try to add a new migration, you will get this 😂😂😂

[code]

![image](https://user-images.githubusercontent.c

[2021-01-29 05:58] yunfandev commented on #64
@roji Can you reproduce the problem? 😅😅😅

[2021-01-29 12:12] roji commented on #64
@yunfandev thanks for the repro, and yes - I could reproduce it. However, this is actually by-design, i.e. a bug fix rather than a bug...

PostgreSQL has a built-in identifier limit of 63 characters. That means that if you try to create a table, column or foreign key with a name longer than 63 characters, it gets silently truncated. The EF Core provider automatically truncates names down to 63, an

[2021-01-29 12:12] roji commented on #64
Am closing this for now as by design, but feel free to post back with any comments.

[2021-01-29 12:12] #64 closed

[2021-01-30 01:52] DMX-David-Cardinal commented on #57
Is this being looked into? It is a fairly critical feature for us, we have a whole existing database model we are trying to connect to using ef core and this is a blocking issue. Can be easily reproduced with the following SQL model dervied from the documentation itself:

[code]

[2021-01-31 01:10] roji commented on #57
@DMX-David-Cardinal as written above, the root issue is missing support in EF Core itself - tracked by dotnet/efcore#19811. In the meantime, you can explicitly name your PKs using the Fluent API - this should unblock you.

[2021-02-01 16:14] DMX-David-Cardinal commented on #57
When you say "the issue is missing support", I understand that no one is working on this at the moment and there is no estimate about when this will be ready?

Also, can you precise what you mean by explicitly naming the PKs using the fluent API? Because from what I tried it seemed like an impass though I might be missing something.

When you say explicitly naming the Pk, this is what I understand

[2021-02-01 16:21] roji commented on #57
dotnet/efcore#19811 is in the 6.0.0 milestone, meaning that we plan to do it for the next release of EF Core, planned for November.

This isn't about naming the column that's part of the PK, it's about the name of the PK itself, [as in the docs](https://docs.microsoft.com/en-us/ef/core/modeling/keys?tabs=data-annotations#primary-key-name). The issue is about having EFCore.NamingConventions rewrite

[2021-02-01 17:01] DMX-David-Cardinal commented on #57
My apologies, I wasn't familiar with the process.

I don't see how to get around that since there is a clash between both PKs. Attempting to name the key on RssBlog gives the error `A key cannot be configured on 'RssBlog' because it is a derived type. The key must be configured on the root type 'Blog'. ` From my understanding, this is blocking because the inherited column `PkBlogId` is a primary k

[2021-02-01 20:45] roji commented on #57
@DMX-David-Cardinal just to make sure, it's perfectly OK to set the key name in a TPT hierarchy - but you have to do it at the root. Being able to set it on derived types would be part of dotnet/efcore#19811.

[2021-02-03 15:15] DMX-David-Cardinal commented on #57
Oh! Misunderstood the difference between the two issues. Apologies once again

[2021-02-08 13:48] Arsync opened #65 "How to apply naming convention to json properties?"
I have models like
[code]
Query for data:
[code]

And with `.UseSnakeCaseNamingConvention()` it still looks like this in SQL:
[code]
but needed:
[code]

I've tried even this (without success):
[code]

[2021-02-08 14:03] roji commented on #65
@Arsync properties inside JSON documents aren't covered by this plugin, at least not yet. The way JSON support is currently implemented, EF Core is completely unaware of everything happening inside a JSON document (it isn't part of the EF model), so this plugin can't rewrite any names.

The way to manage this would be via the JsonSerializerOptions of System.Text.Json, which is used to actually ser

[2021-02-08 14:03] #65 closed

[2021-02-09 15:28] Arsync commented on #65
Tried to override mapping for NpgsqlDbType.Jsonb with JsonSerializerOptions naming policy changed to SnakeCaseNamingPolicy, but `select` and `where` queries still looks like `e.settings->>'DefaultArea'`. Perhaps, I've missed something?

Following code not worked:

[code]
Used as:
[code]

Still got queries like
[code]

[2021-02-10 13:14] roji commented on #65
You're right - I didn't mention that the JsonSerializerOptions apply when System.Text.Json is loading or saving the JSON document to the database, but not when constructing queries that drill into it. For this scenario, the only option you currently have is to specify `[JsonPropertyName]` on your properties - the EF provider does respect that. It's not a good solution, but it's the only onle until

[2021-02-11 19:24] 4nonym0us opened #67 "Support multiple owned entities without table splitting"
At this moment, EFCore.NamingConventions throws an exception if following conditions are met:
1. Owner entity is configured to have more then one owned entity without table splitting.
2. Table name of Owner entity is explicitly specified via `ToTable(name)` extension.

[code]

Sample:
[code]

[code]

[2021-02-15 15:04] roji commented on #67
Thanks for raising this! The bug actually wasn't related to having two owned entities, I managed to reproduce it with a simple:

[code]

... with the critical part being explicitly setting the owner's table after making the other entity owned.

[2021-02-15 15:07] #67 closed

[2021-02-16 12:16] PeteW commented on #42
Seconded. I originally browsed this library with the hope to find a concise single extension method or class to customize naming conventions. After looking at the code it seems that building an IDbContextOptionsExtension requires a non-trivial amount of internal knowledge of EFCore. And by building this customization you own the long-term responsibility of compatibility in a framework known to cha

[2021-02-16 12:59] roji commented on #42
Probably... It indeed shouldn't be very hard.

[2021-02-16 15:00] 4nonym0us commented on #67
Yeah, my bad, I ran multiple tests and just assumed that having multiple entities is the issue. For some reason I was pretty sure that somebody would've already reported the bug if it was caused by not having table name specified explicitly because this is a common use case.

Anyways, thanks for finding out what actually causes the exception and fixing it!

[2021-02-16 15:02] roji commented on #67
No problem. Note this only occurs if the table name is set explicitly on the owner entity *after* the ownership relationship is configured... maybe that's a bit rare (or maybe not enough users are using this library :rofl:)

[2021-02-16 16:57] PeteW commented on #42
I ended up replacing the library with this
[code]

[2021-02-16 17:30] 4nonym0us commented on #67
I see, so the bug is actually not as easy to reproduce as it looks like on the first glimpse.
The library is amazing and especially useful for RDBMs like PostgreSQL, thanks for maintaining it.

[2021-02-16 21:30] roji commented on #67
Thanks for the kind words! Happy to know it's being used and is helpful :)

[2021-02-22 13:07] jsancho commented on #59
Hi @roji , I am unable to find this convention when using the 1.1.0 version of the package.
Would it be possible to have feature parity in both release lines of the packages?

thanks a bunch!

[2021-02-22 13:40] roji commented on #59
@jsancho as this is a new feature (and not a bug fix), it's not a normal thing to backport it in general... I also don't really have the time to fully maintain both versions in this way...

[2021-02-22 13:56] jsancho commented on #59
Could I submit a PR with the necessary changes?

We are unable to upgrade to 5.0 because the lack of support for Azure Functions :/

[2021-02-22 14:28] roji commented on #59
I'm sorry, but I'd really leave old versions where they are apart from bug fixes - it's just standard semver/release policy...

[2021-02-22 14:29] roji commented on #59
If it's really critical for you and you're willing to do the work, there's always the possibility of running on a version modified by you until Azure Functions allows 5.0.

[2021-02-22 15:44] jsancho commented on #59
Thanks for the suggestion, it's absolutely fair enough for you not to have the time to backport it.

I guess we could be running our own fork, but we've managed to hack a workaround for the time being.
Once either Azure Functions supports 5.0 or 6.0 comes out, we'll be able to get the hack out and bring everything up to latest libs.

The actual disappointment I have is with Azure Functions having

[2021-02-22 23:32] roji commented on #42
@PeteW that's a possible approach, though it's hacky and wouldn't work like a full solution. Customizing DelimitIdentifier only controls how EF Core sends table/column names to the database - but is not taken into account for EF Core's model. For example, this means that no migrations will be generated for renaming everything when you activate the above. Logging of table/column names (where Delimi

[2021-02-24 16:44] Chakrygin opened #69 "Naming convention not applied with OwnsMany"
Hi!

I see that there have already been [similar issues](https://github.com/efcore/EFCore.NamingConventions/issues/33), but it still doesn't seem to work.

I have the following data model:

[code]

And following package references:

[code]

And following context factory:

[code]

When I add a migration for this model, I get following code:

[code]

It seems like the snake case naming convention do

[2021-02-24 20:11] aldobrynin commented on #23
@roji yes, please. We'd appreciate that

[2021-02-25 09:24] roji commented on #23
Have just published [1.1.1](https://www.nuget.org/packages/EFCore.NamingConventions/1.1.1) which disables public signing.

[2021-02-25 21:40] manelferreira commented on #62
Hi guys, I think I'm having a problem related to this one, but the difference is that the owned entity is on the superclass.

I've already updated the version of the package to the 5.0.2, but the problem remains.

One observation: If the CurrentStatus property (mapped with OwnsOne) is removed from the class and only the History property (mapped with OwnsMany) is left, the migration is generated su

[2021-03-10 19:10] andrecasteliano commented on #33
The issue still exists on release 5.0.2
if you put [Owned] on a type, the naming convention does not get applied to the table.

[2021-03-10 19:12] andrecasteliano commented on #69
I can confirm the issue is still present on release 5.0.2

[2021-03-15 23:09] d1820 opened #72 "How to turn migrations off?"
I have tables i want to create from a DBA source control system that already has scripts and such. seems like there is no way to turn off migrations in this lib. I can not have the EF entities generating tables based on developers possibly having incomplete model configurations in place. Is there any way to disable migrations running and just thrown an error if the table does not exist?

[2021-03-16 00:10] d1820 commented on #72
There was a hidden EnsureCreated in a sub lib being used.

[2021-03-16 00:47] #72 closed

[2021-03-18 19:55] suadev commented on #49
+1

[2021-03-25 00:06] pp-rchekryzhov opened #73 "Publish nuget version 5.0.4"
Atm the published package is based on ef core 5.0.2.
Could you release nuget version 5.0.4, please?

[2021-03-25 09:16] roji commented on #73
@pp-rchekryzhov you do not need version 5.0.4 of EFCore.NamingConventions in order to use EF Core 5.0.4. Just add an explicit dependency on the EF Core nuget with the latest patch version.

[2021-03-25 09:16] #73 closed

[2021-03-25 20:17] AwkEng opened #74 "EF Core 6.0 Preview 2 - GetTableName Method Not Found"
Testing out EF Core Preview 2 and getting the following error when I try to create a fresh migration using 'dotnet ef migrations add'

DbContext configuration:
`
services.AddDbContext<StaticDbContext>(builder =>
               builder.UseNpgsql(configuration.GetConnectionString("StaticDb"),
                   x => x.UseNetTopologySuite()
                       .UseNodaTime()

[2021-03-31 21:57] groogiam opened #75 "v5.0.2 UseLowerCaseNamingConvention() does not work on table names with Npgsql provider"
I have applied the convention using

[code]
I generated a fresh set of migrations to verify it was working and it appears everything but table names are lower cased.

Expected Result: All database identifiers should be lower cased.

[2021-03-31 22:40] groogiam commented on #75
Working as expected. I had some hidden configuration messing with my entity name mapping.

[2021-03-31 22:40] #75 closed

[2021-04-10 04:35] cbordeman commented on #1
When I first apply the naming conventions extension, I am seeing:

SELECT migration_id, product_version
FROM "__EFMigrationsHistory"
ORDER BY migration_id;

Error: column "migration_id" does not exist

[2021-04-12 11:46] Bouke opened #79 "DateTime / TimeSpan arithmetic in v3?"
I noticed a recently merged PR that adds support for additional arithmetic in v5. I'm on v3 and due to .Net Framework cannot migrate to v5. Is there any suggestion on how to perform the following query:

[code]

[code]

With EF6 I could do the following:
[code]

I've tried the following:
[code]
[code]

[code]
[code]

[2021-04-12 15:16] roji commented on #79
You're in the wrong repo - you're probably looking for github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL.

Since you're arithmetic operation is in the projection (and not in a WHERE clause), you can simply place an AsEnumerable (which will terminate EF Core's responsibility for translating the query) and add a Select after that to project with the arithmetic operation.

[2021-04-12 15:16] #79 closed

[2021-04-13 10:14] Bouke commented on #79
Thank you, I have indeed mistakenly posted this ticket to the wrong repository.

[2021-04-13 12:26] phnx47 commented on #67
When will it be published to nuget or any dev nuget?

[2021-04-19 05:47] mifopen commented on #74
This issue makes efcore 6.0 preview 3 unusable. Any chance to see a prerelease version of this lib that supports efcore 6.0 preview 3? I’ve tried to implement a minimal fix in #80 as an example.

[2021-04-19 14:26] roji commented on #74
@AwkEng you cannot mix major versions of EF Core and plugins/providers, since there are breaking changes in the API surface.

@mifopen I've reviewed #80 which you've submitted.

[2021-04-19 14:26] #74 closed

[2021-05-25 04:39] tharasompan commented on #31
I found that the entity with [Owned] attribute is not converted when I use UpperSnakeCase.
For example:-
[Owned]
public class RefreshToken
{ ... }

Table name "RefreshToken" is created instead of "REFRESH_TOKEN".

[2021-05-25 17:14] roji commented on #31
@tharasompan can you please open a new issue with a full model?

[2021-05-26 02:05] tharasompan commented on #31
Hi,

I found that it’s opened with issue
Snake case naming convention does not applied to owned types #69

Best regards,
Thara Sompan

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Shay ***@***.***>
Sent: 26 พฤษภาคม 2564 0:15
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [efcore/EFCore.NamingConventions] Upper-snake-case naming convention (#31)

[2021-05-29 09:58] roji commented on #49
Can someone please confirm that this is happening in the 5.0 version of the plugin? The code is passing the invariant culture by default (unless you pass another culture explicitly), so this shouldn't be happening...

If you see this happening in 5.0, a small repro would help...

[2021-05-30 02:36] ieyj opened #84 "this package makes `SetMaxIdentifierLength()` doesn't work"
I use the 1.1.1 version in a asp.net core 3.1 project.

Since I need to deal with a Oracle 11 database, the db table column name case need to be upper to easy to use, I find this package,
But quickly I ran into another problem, the identifier is too long, By Google I find the solution is add `modelBuilder.Model.SetMaxIdentifierLength(30);` to limit the identifier in 30 chars.

However this solutio

[2021-05-30 02:47] ieyj commented on #84
And another small problem.

For example, I have a `public DbSet<Stdudent> Students { get; set; }` in my dbcontext, and I specify a new name to the stduent table name `Student` but not use the default `Students` with `modelBuilder.Entity<Student>().ToTable("Student")`. If I have some key or index related to the `Student` table, ef will name it like `pk_stduent`. But after add this package, this wil

[2021-05-30 02:55] ieyj commented on #84
Finally I put this code block at the end of `OnModelCreating()` method and it works better than this package for me.

[code]

I must say this package is really magic and amazing with just a single line code without these problems.

[2021-06-18 20:21] tuggernuts opened #87 "Snake case, owned entities with inheritance"
Hi. This is perhaps somewhat related to [Issue #69](https://github.com/efcore/EFCore.NamingConventions/issues/69#issue-815653536)? Or, maybe closer to [this closed one](https://github.com/efcore/EFCore.NamingConventions/issues/62#issue-791318721)?

In this case, migrations fail in a Table-per-Type scenario, where the base class has an owned entity.

[code]

[code]

In this case, the migration will

[2021-06-21 11:18] Azmond commented on #87
I have the same problem in version 5.0.2.
I tried to build the library of the current source. Migrations were successful 😃

[2021-06-22 20:33] manelferreira commented on #87
I'm also having this problem.

One observation: If the CurrentStatus property (mapped with OwnsOne) is removed from the class and only the History property (mapped with OwnsMany) is left, the migration is generated successfully.

[code]

The ef core entity configuration:
[code]

When I run the dotnet command to generate a new migration, the exception is thrown:

[code]

The final error message:
Ca

[2021-06-24 15:23] wagnergraciano commented on #87
I'm also having the same problem.

[2021-07-07 12:28] scymen opened #89 "How to config EFCore.NamingConventions when I use services.AddDbContextPool?"
I try to improve the performance, use the `AddDbContextPool` method instead of `AddDbContext` during service registration, then I got an error:
`OnConfiguring' cannot be used to modify DbContextOptions when DbContext pooling is enabled`

same question :
 https://stackoverflow.com/questions/55819175/how-to-use-adddbcontextpool-if-all-configuration-in-onconfiguring-method-of-dbco

Is there anyway to

[2021-07-16 10:55] roji commented on #89
Have you tried to set up the naming convention in AddDbContextPool?

[code]

[2021-08-13 05:13] kreditkenny commented on #1
what some people mentioned on this thread, the migrations table should be ignored from naming conventions.

[2021-08-21 16:21] scymen commented on #89
Thanks.

[2021-08-21 16:21] #89 closed

[2021-09-15 15:00] buvinghausen opened #92 "6.0.0-preview.3 stopped working with the release of .NET 6.0 RC1 yesterday"
It was working through preview 7 just fine.

Here is the StackTrace
<pre>
System.TypeLoadException: Method 'GetServiceProviderHashCode' in type 'ExtensionInfo' from assembly 'EFCore.NamingConventions, Version=6.0.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7' does not have an implementation.
   at EFCore.NamingConventions.Internal.NamingConventionsOptionsExtension.get_Info()
   at Microsof

[2021-09-15 15:33] buvinghausen commented on #92
Just as a follow on I tried it with an rc1 CI build of 6.0.0-rc.1-ci.20210913T102916 to see if the issue was upstream in Npgsql.EntityFrameworkCore.PostgreSQL and I still get the same exception.

[2021-09-15 15:50] ZvonimirMatic commented on #92
EF Core changed the contract for the extensions: https://github.com/dotnet/efcore/issues/26022

Maybe it would be a good idea to upgrade to RC1 version of EF Core?

[2021-09-15 15:56] buvinghausen commented on #92
@ZvonimirMatic thank you for the context.  That was why I tried the CI build of Npgsql.EntityFrameworkCore.PostgreSQL is because it is compiled against the RC1 release of EFCore...  Unfortunately it still breaks.

[2021-09-15 19:44] buvinghausen commented on #92
[Link](https://github.com/npgsql/efcore.pg/issues/1988)

[2021-09-15 19:50] roji commented on #92
Yeah, this is expected - I will be porting the extension to rc1 in the coming weeks...

[2021-09-22 06:55] ZvonimirMatic commented on #92
@roji From this PR: https://github.com/dotnet/efcore/pull/26111 it seems to me that the only changes to be made are to make the method `GetServiceProviderHashCode` return `long` instead of `int` and to make method `ShouldUseSameServiceProvider` return `true` (hopefully I didn't oversimplify this). Do you want me to do those changes and create a PR?

[2021-09-22 07:44] roji commented on #92
@ZvonimirMatic sure! Hopefully no other changes are needed (as indicated by the OP above)...

[2021-09-22 10:20] ZvonimirMatic commented on #92
@roji I created the pull request: https://github.com/efcore/EFCore.NamingConventions/pull/93

A couple of other changes needed to be made. I also updated the version of extension packages, I hope that's all right. All the changes are listed in the PR.

[2021-09-24 16:09] buvinghausen commented on #92
@roji I just saw [rc1](https://www.nuget.org/packages/Npgsql.EntityFrameworkCore.PostgreSQL/6.0.0-rc.1) posted to Nuget.  Is there any way we can get this package updated soon since @ZvonimirMatic has the PR ready?

[2021-09-24 16:11] roji commented on #92
@buvinghausen I'll be reviewing and merging #93 in the next few days - there's a lot going on at the moment. Thanks for your patience.

[2021-09-24 16:13] buvinghausen commented on #92
Thank you Shay

[2021-09-25 07:47] thangchung commented on #92
We have got the same issue after upgraded to `.NET v6.0.100-rc.1.21458.32`, and we're looking forward to this merging too.

[2021-09-26 16:35] roji commented on #92
@buvinghausen note cd128bbd1342ec13e58137198463e5600ed43abb with some minor fixup to this PR.

[2021-09-26 16:50] roji commented on #92
Release 6.0.0-rc.1, thanks @buvinghausen!

[2021-09-26 18:00] #92 closed

[2021-09-27 14:27] buvinghausen commented on #92
Thanks @roji everything ran perfectly!

[2021-09-27 14:47] roji commented on #92
@buvinghausen great, thanks for confirming and for the PR!

[2021-09-27 16:34] buvinghausen commented on #92
@roji I get no take credit for the PR that goes to our main man @ZvonimirMatic

[2021-09-28 14:24] roji commented on #92
Oops, sorry... Thanks @ZvonimirMatic !

[2021-10-08 09:55] LordXaosa opened #94 "Use*NamingConvention create tables for non table entities"
Hi.
Ecnountered a bug when using method Use*NamingConvention.
I've got a "virtual" entity to use in stored procedures or custom SQL queries, so it's configuration is following:
[code]
If I'm NOT using method migration would be empty and no table would be created. Snapshot would be look like:
[code]
But if I will use naming convention it will create table in migration and add ToTable method in snap

[2021-10-14 11:38] lrpe opened #95 "Rewriting table names in Microsoft.AspNetCore.Identity"
How would one use this library with `Microsoft.AspNetCore.Identity` and make sure that Identity's table names also follow the naming convention?

The issue is that Identity renames its tables with an "AspNet" prefix, e.g.: "AspNetUsers". This happens after `OnConfiguring()` is run.

Is there an extension method or something that can be called in `OnModelCreating()`, as an alternative to `UseXxxNam

[2021-11-03 11:06] Narine-P opened #99 "Another naming convention ( ALL_CAPS )"
Hi,
I have to work with database, where all tables(TABLE_NAME) and columns are like FULL_NAME.
So, is it possible to add naming convention for FullName=>FULL_NAME ?

I'm using EF CORE 3.1

[2021-11-09 18:38] mhosman opened #102 "Not working since updated to .NET 6."
`System.TypeLoadException: 'Method 'GetServiceProviderHashCode' in type 'ExtensionInfo' from assembly 'EFCore.NamingConventions, Version=5.0.2.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7' does not have an implementation.'`

[2021-11-09 18:43] roji commented on #102
I'll be releasing a 6.0.0 version of this package very soon, that will be cmopatible with EF Core 6.0.

[2021-11-09 18:43] #102 closed

[2021-11-10 10:03] roji commented on #99
Duplicate of #31

[2021-11-10 10:03] roji commented on #99
This is already implemented simply do UseUpperSnakeCaseNamingConvention. I'll update the README to make it documented.

[2021-11-10 10:03] #99 closed

[2021-11-10 12:08] #94 closed

[2021-11-10 23:01] douglas-wiliam opened #106 "The repository primary key has expired"
Hi everyone!

I get this error when I try to install the package via .NET CLI:

Error NU3028: Package 'EFCore.NamingConventions 5.0.2' from source 'https://api.nuget.org/v3/index.json': The repository primary signature's timestamp found a chain building issue: UntrustedRoot: self signed certificate in certificate chain
/path_to_my_project : error NU3037: Package 'EFCore.NamingConventions 5.0.2' fr

[2021-11-11 05:01] pdevito3 opened #107 "Migrations broken when upgraded to .NET 6"
So when i upgrade my project to .NET 6 and run migrations, I get the below.

[code]

When I upgrade to `6.0.0-rc.1` they work just fine though... what do you guys recommend doing here? Am I blocked from upgrading to .NET 6, or is the RC stable enough to use until you do a proper release? Also, when do you expect the 6.x release?

[2021-11-11 10:21] roji commented on #107
You'll have to wait for the 6.0 release - this should happen within the next few days.

[2021-11-11 10:21] #107 closed

[2021-11-11 18:58] roji commented on #106
@douglas-wiliam this is very unlikely to be related to Npgsql itself - take a look at [this issue](https://github.com/dotnet/core/issues/6595), for example (specifically try upgrading to the very latest SDK, etc.

[2021-11-12 08:33] odinnou opened #108 "Not compatible with .NET 6.0"
Hello!
First of all, thank you for your job.
It's the early adoption of .NET 6 that brings me here ^^.

**All my tests fall in failure because of that exception:**

It occurs when this line is called :

[code]

Thanks in advance, kind regards

PS: maybe you already know about it and in that case sorry ^^.

[2021-11-12 10:28] nicolaiarocci commented on #108
Hello, I had the same issue. Installing EFCore.NamingConventions 6.0.0-rc.1 solved the problem (at the cost of a build warning because I'm running a prerelease under a stable release). Hopefully EFCore.NamingConvetions 6 will be released soon.

[2021-11-12 10:29] nicolaiarocci commented on #108
Also see #92

[2021-11-12 10:35] odinnou commented on #108
Oh sorry, I didn't check if a pre-release version exists :( my bad!

[2021-11-12 13:54] roji commented on #108
A 6.0.0 version will be published very soon.

[2021-11-12 13:54] #108 closed

[2021-11-12 20:09] ksydex opened #109 "6.0 version?"
Using current 5.0.2 version of the package with .NET 6, throws an error:
[code]

[2021-11-12 21:07] roji commented on #109
6.0.0 will be out soon, hang in there for a couple more days...

[2021-11-12 21:07] #109 closed

[2021-11-13 07:12] yunfandev opened #110 "[EF 6.0] Method 'GetServiceProviderHashCode' in type 'ExtensionInfo' from assembly 'EFCore.NamingConventions, Version=5.0.2.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7' does not have an implementation."
After upgrade to EF Core 6.0 when try to add migration the following error occurred
`
An error occurred while accessing the Microsoft.Extensions.Hosting services. Continuing without the application service provider. Error: Method 'GetServiceProviderHashCode' in type 'ExtensionInfo' from assembly 'EFCore.NamingConventions, Version=5.0.2.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7' does not

[2021-11-13 09:48] ksydex commented on #109
@roji Thank you!!!

[2021-11-13 11:03] tonikinni commented on #110
I got the same problem. Have to check `Include prerelease` -checkbox in package manager and use `6.0.0-rc.1` until `6.0.0` version becomes available.

[2021-11-13 11:06] roji commented on #110
6.0.0 will be out soon.

[2021-11-13 11:06] #110 closed

[2021-11-19 08:32] #69 closed

[2021-11-19 08:34] roji commented on #33
@andrecasteliano and others, I've indeed located an issue when an owned entity is used in a *collection* navigation (e.g. OwnsMany). If that's your case, then this is tracked by #69 and fixed in 6.0.0. Otherwise, please open a new issue with a full repro code so I can investigate.

[2021-11-19 09:54] Du57iN opened #111 "Error with EFCore 6.0"
Please add support for EFCore 6.0

System.TypeLoadException: 'Method 'GetServiceProviderHashCode' in type 'ExtensionInfo' from assembly 'EFCore.NamingConventions, Version=5.0.2.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7' does not have an implementation.'

[2021-11-19 10:43] Du57iN commented on #111
Oh i missed Tag v6.0.0-rc.1 which working.
I'm closing this.

[2021-11-19 10:43] #111 closed

[2021-11-19 13:14] roji opened #112 "Duplicate PK name error when using TPT"
The following TPT model causes an exception:

[code]

[2021-11-19 13:36] #87 closed

[2021-11-19 13:37] #112 closed

[2021-11-19 13:42] schmitch commented on #1
well I would not prefer it. I prefer that it also renames it, but a flag would be ok-ish

[2021-11-19 13:43] roji commented on #87
I've recently fixed #112 and #69 for 6.0.0 - I can't see the problems above after that. If you still run into trouble after upgrading to 6.0.0, please open a new issue with a full, minimal model and I'll take a look.

[2021-11-19 13:46] tuggernuts commented on #87
Yes, > 6.0.0 has been working. Thank you for your work.

[2021-11-19 13:51] roji commented on #84
Re your 2nd problem, I could not reproduce this with the latest version of the code (about to be released as 6.0.0). With `DbSet<Student> Students`, and an explicit name configuration of the table to `Student`, the primary key is named `pk_student` as expected.

It's possible there was a bug that was already fixed since you filed this - please try the 6.0 version when it's out and open a new issue

[2021-11-19 14:00] roji commented on #84
Re the identifier length, I'm not sure setting SetMaxIdentifierLength in OnModelCreating is supported, and does not seem to work fully. In my code sample below, the PK name indeed gets truncated to 10 chars, but the table name does not. Setting the identifier length is something that's meant for providers, not end users - and setting it in OnModelCreating is likely too late to affect some things w

[2021-11-19 14:00] #84 closed

[2021-11-19 14:00] #106 closed

[2021-11-19 14:03] roji commented on #87
Great, thanks.

[2021-11-25 00:37] diev opened #114 "Table and Index names again in Microsoft.AspNetCore.Identity with EF Core 6.0"
Version: `<PackageReference Include="EFCore.NamingConventions" Version="6.0.0" />`

I use `UseSnakeCaseNamingConvention()` as documented for PostgreSQL in *ApplicationDbContext.cs*:

[code]

And I use the following generic code to patch **Table** names additionally (an undocumented workaround):

[code]

However some **\*Index** names still remain original during Migrations:

[code]

It is not so t

[2021-11-25 00:52] roji commented on #114
@diev this plugin doesn't work for AspNet Identity - see https://github.com/efcore/EFCore.NamingConventions/issues/2#issuecomment-575371195 for more details. However, you should be able to override index names exactly as you're overriding tables names in your code above; simply get the indexes defined on each entity and set their names.

[2021-11-25 01:26] diev commented on #114
@roji this generic code works fine for Tables now. I had seen that mentioned comment with hard-coded names as a solution. But I cannot understand how to *simple get* the indexes. I tried:

    foreach (var index in entity.GetIndexes())
    {
        if (index.Name != null && index.Name.EndsWith("Index"))
        {
            index.SetDatabaseName(index.Name.ToSnakeCase());
        }
    }

But th

[2021-11-25 09:45] roji commented on #114
@diev this works for me, see code sample below.

<details>
<summary>Code sample</summary>

[code]

</details>

[2021-11-25 18:31] ivarlovlie commented on #1
I just created a new migration (the first on 6.0) and tried to apply it to a database that uses snake case naming from before. What happened is that migrations got applied without the snake casing and according to the migration history spanning longer back than when the database was renamed to snake case, this happened due to efcore not picking up on the `__efmigrationshistory` table and assuming

[2021-11-25 21:19] alfeg commented on #1
I'm using the following workaround that is described in docs https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/history-table
[code]
Replace `NpgsqlHistoryRepository` with You DB provider implementation. Take into account that those classes are internal EF API and subject to change.

[2021-11-26 16:24] llRandom opened #115 "EF Core 6 - Invalid model snapshot for views when using default schema"
I have the following DbContext definition:

[code]

If I create an initial migration I get the following snapshot definition:

[code]

When I'm trying to add a new migration it fails on this line from the snapshot: `b.ToTable(null, "test");` because `null` table name is not valid:
[code]

   at Microsoft.EntityFrameworkCore.Utilities.Check.NotNull[T](T value, String parameterName)
   at Microsoft.

[2021-11-28 13:13] ajcvickers commented on #115
This is a duplicate of https://github.com/dotnet/efcore/issues/26651, which is fixed ready for the 6.0.1 patch release.

[2021-12-02 15:50] Narine-P commented on #99
Thank you!

On Wed, Nov 10, 2021, 2:03 PM Shay Rojansky ***@***.***>
wrote:

[2021-12-18 04:10] gojanpaolo commented on #27
Our use case `CustomList1OptionId`

[2022-01-25 21:56] Azmond opened #119 "Issue when using Naming Conventions with UseInternalServiceProvider and multiple DbContexts"
Version: <PackageReference Include="EFCore.NamingConventions" Version="6.0.0" />

I used the library in a project with two DbContexts, each using an external dependency injection container:

[code]
However, when creating the context, I get an ArgumentNullException thrown with the EFCore.NamingConventions library specified. After some research on the problem, I found that the NamingConventionSetPlu

[2022-01-26 00:12] gojanpaolo commented on #57
Is this the issue we're getting with the following code? If so, what is the current workaround? I see comments above regarding explicitly naming the PK but I believe I have tried that and it didn't work. Thank you!

[code]

csproj
[code]

exception
[code]

[2022-01-26 09:27] roji commented on #57
@gojanpaolo no, that is an unrelated bug which indeed no longer occurs in 6.0. Unfortunately I'm not going to be able to backport the fix to 5.0, both because it's complex and because 5.0 goes out of support in May.

As an aside, your usage of underscore as a variable identifier is a bit odd - the C# usage is to use it only when the variable/parameter isn't going to be used - that's why it's calle

[2022-01-26 10:50] pfeigl commented on #42
Just to make sure: Defining custom naming conventions is still not possible, right?

[2022-01-26 10:55] roji commented on #42
Right.

[2022-01-26 11:01] pfeigl commented on #42
Thanks for the confirmation. Two more questions: We postfix our entities with "Entity" and obviously want to get rid of that for the table names. Is this something, that would be a good match for a custom naming convention or should that be solved differently?

Also how does the `IPluralizer` and the naming conventions interact with eachother?

If our usecase would be reasonable for naming convent

[2022-01-26 16:41] gojanpaolo commented on #57
@roji Thanks for the response. Is there a workaround for .NET 5? Thank you

[2022-01-26 16:42] roji commented on #57
Not as far as I'm aware. Note that the end-of-life of 5 is in May, so upgrading to 6.0 is a good idea at this point.

[2022-01-28 20:21] groogiam opened #121 "UseLowerCaseNamingConvention results in wrong casing for Owned Entity Columns"
When using `ctx.Database.EnsureCreated()` owned entity columns are created without the convention.

[code]

Results in the following casing of the created database schema.

![image](https://user-images.githubusercontent.com/1992395/151615741-b642d6bb-7d7d-4158-9f80-666d4f353f86.png)

[2022-02-07 13:34] TarasKovalyk opened #122 "CamelCaseNamingConvention doesn't work for EF.Cosmos"
Hello
I am using EFCore.NamingConventions (5.0.2) Besides I am using Microsoft.EntirtyFrameworkCore.Cosmos (5.0.13).

In my startup I have added the following registration
![image](https://user-images.githubusercontent.com/18569280/152797698-e6e6f4eb-31c0-44d8-ae37-4b109ee102e2.png)
And DbContext
![image](https://user-images.githubusercontent.com/18569280/152797824-85b078c1-e27e-4458-9781-31766ea7

[2022-02-12 20:59] aktxyz commented on #27
just a data point .... a popular nuget package called Humanizer

"Abc1Def".Underscore(); // results in abc1_def

https://github.com/Humanizr/Humanizer#underscore

[2022-02-14 17:22] ajcvickers commented on #122
@TarasKovalyk This package targets relational-specific naming (e.g. tables) in _relational_ databases.

[2022-02-16 16:13] TarasKovalyk commented on #122
@ajcvickers thanks for your response.
Actually now we are using as workaround our own approach for this purpose.

![image](https://user-images.githubusercontent.com/18569280/154307439-e300da95-4e1f-4f95-8d5e-1a77a57780d1.png)
However there was a challenge to configure 'camel casing' for properties which were navigations. For that we also use reflection and some kind of extension for OwnedNavigatio

[2022-02-21 13:33] JonasBRasmussen opened #125 "Properties using HasColumnName not translated"
In a project of mine we have a table-per-hierarchy with a base type, where we reuse the same column among several derived types. Thus we have to specify the column name in the entity configuration with `HasColumnName("MyColumn")` as described in https://docs.microsoft.com/en-us/ef/core/modeling/inheritance#shared-columns. When generating a new migration this column is not generated with whatever n

[2022-02-21 13:35] roji commented on #125
This is by-design: this plugin adds a convention which does not override user-set defaults. If we did that, it would be impossible for users to explicitly set any column names anywhere, since the convention would always have precedence. For cases where you're specifying column names explicitly, you'll have to apply the naming convention yourself (i.e. `HasColumnName("my_column")`.

[2022-02-21 13:59] JonasBRasmussen commented on #125
But `my_column` is a DB provider specific name for the column. We can't set that in the entity configuration since it would then cause the wrong naming for the database which should have the column name `MyColumn` or `myColumn`.

[2022-02-21 15:20] roji commented on #125
If you're using multiple providers, you can set the name only for PostgreSQL by using the following in OnModelCreating:

[code]

[2022-02-22 20:26] julealgon commented on #122
@roji I believe this statement is currently misleading on the readme:
https://github.com/efcore/EFCore.NamingConventions/blob/d85cb49f52b2fc5d86576e1749f7ba3c371eef90/README.md?plain=1#L56

If there are no plans to make this work with the CosmosDB provider, it would be nice to make that point a bit more clear in the documentation, stating this will only work with _relational database_ providers.

[2022-02-23 09:21] roji commented on #122
You're right, I added the word "relational" in there.

EF Core doesn't attempt to provide a uniform abstraction over all the databases in the world, since that simply isn't doable. In most relational databases, a table is identified not just by a name, but also by a schema; Cosmos does not have this concept. Cosmos, on the other hand, has its own special concepts, such as partition keys, which mak

[2022-02-23 12:55] julealgon commented on #122
Sure, but we are not talking about tables here though. I understand you are just providing an example, but I don't think it's that useful here.

Again, that's fair. It's something that has no parallels in relational databases, and thus why it needs those special extensions to configure. When a concept is completely new, I'm fine with having a completely new way of configuring it.

Now, about this,

[2022-02-23 13:11] roji commented on #122
@julealgon let's suppose for a moment we did have a universal concept of a data-store property name, which would be used for relational columns names, Cosmos JSON property names, etc. That would indeed enable this plugin to rewrite that specific thing; but the job of this plugin is also to rewrite other things: the (relational) table/schema names, primary key names, etc. In the same way, Cosmos us

[2022-03-02 16:19] JonasBRasmussen commented on #125
I'm closing this. For anyone interested, I created a custom `ModelBuilder` extension method, to convert any names not converted by this library.

[2022-03-02 16:19] #125 closed

[2022-03-02 16:50] JonasBRasmussen opened #129 "Problem with owned types for views"
I'm trying to use the library with views, but have run into problems with owned types.

I am testing with EF Core 6.0.2 (making it different from #115) and EFCore.NamingConventions 6.0.0. The following classes shows a minimal example of the problem:

[code]

This results in the follow exception:
[code]

In `ProcessKeyAdded` in `NameRewritingConventions`, the `keyBuilder.Metadata` has debug view `M

[2022-03-04 14:23] roji commented on #129
Thanks for filing this and for the repro. I'm concentrating on other things at the moment but will be back to look at this.

[2022-03-08 01:04] saber-wang commented on #125
@JonasBRasmussen  Can you share it?

[2022-04-03 00:13] aliakseiherman opened #132 "AspNet- tables remain unchanged when Snake Case convention is applied"
![image](https://user-images.githubusercontent.com/6156643/161405757-6214601e-7b88-4f08-be28-c7b918f3cd0a.png)

[2022-04-03 05:24] roji commented on #132
Duplicate of #2

[2022-04-03 05:24] #132 closed

[2022-04-07 15:18] JonasBRasmussen commented on #129
@roji How's your time looking? 😉

[2022-04-15 07:21] drsmile1001 opened #134 "Has mutiple properties key or not id key for view will throw "Value cannot be null" when using version 6.0.0"
I have view like below:

[code]

Because the navigation property need the "Key", I put the `entity.HasKey` here.

It work fine with `EFCore.NamingConventions 5.0.2` and `Npgsql.EntityFrameworkCore.PostgreSQL 5.0.7`

But throw exception below when `EFCore.NamingConventions 6.0.0`

[code]

and It will be fine when not using `EFCore.NamingConventions`

If use `entity.HasNoKey()`, throw exception when

[2022-05-07 08:54] saber-wang opened #137 "Calling withoutnaming will throw an exception"
https://github.com/efcore/EFCore.NamingConventions/blob/560803ee57434a5987355605ba6b833d64da2d16/EFCore.NamingConventions/Internal/NamingConventionsOptionsExtension.cs#L31

exception:
https://github.com/efcore/EFCore.NamingConventions/blob/560803ee57434a5987355605ba6b833d64da2d16/EFCore.NamingConventions/Internal/NamingConventionsOptionsExtension.cs#L109

[2022-05-07 10:21] saber-wang opened #138 "Provides a custom extension to support name conversion of a specified string"
For example, we can provide extension methods such as' hascolumnnameconventions' and 'totableconventions'. When these methods are used, name conversion is also supported
[code]

[2022-05-07 18:47] roji commented on #138
It's not clear exactly what the proposed methods do - do they simply set the table and column names on the entity and property on which they're specified? If so, that's already supported in EF Core without this plugin, [see the docs](https://docs.microsoft.com/en-us/ef/core/modeling/entity-properties?tabs=data-annotations%2Cwithout-nrt#column-names).

[2022-05-08 06:05] saber-wang commented on #138
@roji  Yes, I know this API, but I want to support case conversion on this basis.

[2022-05-08 10:44] roji commented on #138
@saber-wang your proposed code above calls ToTableConventions for a single entity type (`test`), so it seems like it would affect only that entity type? How is that a convention - which presumably would affect multiple entity types/tables rather than just one? The same applies to the proposed HasColumnNameConventions - it's only defined on a single property.

You'll need to clarify what exactly yo

[2022-05-08 13:00] saber-wang commented on #138
@roji The current convention is to convert only the attributes that do not call 'hascolumnname'. I hope to provide a conversion way for the attributes specified by 'hascolumnname' and other methods in this way, and work with the current converter to provide a consistent experience It mainly solves the problem of linking multiple databases (the current conversion mode is determined according to the

[2022-05-08 19:31] roji commented on #138
Are you saying that you'd like a convention which applies *after* the user's explicit HasColumnName has been called, and which performs some transformation on that user-provided name? This is still not clear to me - in the above code, there is no call to HasColumnName: please provide a full code sample illustrating exactly what you're looking for.

Note that if the above is what you're looking for

[2022-05-09 00:57] saber-wang commented on #138
@roji  I agree with this Convention, but can provide additional ways to extend it.

Examples
[code]

[code]

[2022-05-17 16:07] markm77 opened #141 "Migrations SQL script (npgsql) truncates some identifiers to 64 not 63 characters"
I raised an issue in the main EF Core repo but seems the root cause is with EFCore.NamingConventions.

See issue details here:
https://github.com/dotnet/efcore/issues/27862

[2022-06-23 16:40] springy76 opened #143 "Query configured convention inside OnModelCreating()"
I can capture `DbContextOptions` from ctor in private field but I don't get any usable info out of it (nor the `DbContext` itself), for example the registered `INameRewriter`.

Usage would be manual `ToTable()` calls for many-many relationships (backed by Dictionary<string,object> shared type).

Since there are multiple providers which produce options (not just postgre) I want to follow the same r

[2022-06-23 18:37] roji commented on #143
Can you provide more context on exactly what you're trying to do and why?

[2022-06-24 07:09] springy76 commented on #143
Taking this official example: https://docs.microsoft.com/en-us/ef/core/modeling/relationships?tabs=fluent-api%2Cfluent-api-simple-key%2Csimple-key#joining-relationships-configuration

[code]

[2022-07-11 18:32] chrisdreams13 commented on #3
Error is still appearing when ToTable is used for extended tables:

[code]

[code]

Could be fixed with this next but should not be necessary
`modelBuilder.Entity<Blog>().HasKey(it => it.Id).HasName("pk_blog");`

net6
EFCore.NamingConventions:6.0.0
Npgsql.EntityFrameworkCore.PostgreSQL:6.0.5

[2022-07-12 08:13] roji commented on #3
@chrisdreams13 can you plaese open a new issue with the full repro code and the results you're seeing? I'll be doing a work cycle on the plugin a bit later this year.

[2022-07-25 08:23] gemoglobin opened #145 "Index Convention problem"
For example i have: entity.HasIndex(e => e.Name, );
after migration I get: "ix_organization_name_index".

I think the problem is: public void ProcessIndexAdded(
         IConventionIndexBuilder indexBuilder,
         IConventionContext<IConventionIndexBuilder> context)
         => indexBuilder.HasDatabaseName(_namingNameRewriter.RewriteName(indexBuilder.Metadata.GetDefaultDatabaseName));

Maybe yo

[2022-08-04 15:56] tuggernuts opened #147 "Bad Table Name in Select"
I have been using EF Core nightly builds, and just updated to latest. In doing so I found a break, where the table is not put in snake case.

As of 7.0.0-preview.7.22358.1, a bad (not formatted) table name is included in a join involving inheritance:

[code]
Note that `FROM [MediaProperties] AS [m]` should be `FROM [media_properties] AS [m]`

This works as expected up to & including 7.0.0-preview.

[2022-08-04 16:56] roji commented on #147
Any chance you can put together a minimal code sample which shows this erroring? That would help investigating this...

[2022-08-04 17:03] tuggernuts commented on #147
I understand. I'll see what I can do.

[2022-08-05 16:26] asenkyr opened #148 "Foreign key name is not being updated when principal key changes when using version 6.0.0"
Hi,

I am using EF Core with a model configured using fluent API. After migrating from _EF Core 5_ and _EFCore.NamingConventions 5_  to versions 6.0.7 and 6.0.0 respectively, I started having problems with generated names for foreign key constraints.

**Generated migration before and after the update**
[code]

**Change in EF Core behaviour**
After some investigation, I have found what I think is t

[2022-08-05 18:48] tuggernuts commented on #147
Hi @roji.

I was able to create a relatively simple sample app which recreates the issue, located [here](https://github.com/tuggernuts/EfCore7.NamingIssue). It's a simple console app w/ a SQLite in-memory database, and I'm dumping the log to the Debug console.

You'll find a company entity, with a list of aircraft assets. There is a base aircraft type, with several inheritors.

Beginning with 7.0.

[2022-08-05 18:50] roji commented on #147
Thanks, it's definitely important to know if some change happened in EF which causes something like this. Unfortunately I'm very busy with other stuff at the moment, so it may take a bit of time before I can look into this...

[2022-08-10 15:30] waywardcode opened #151 "Add - UseSnakeProperCaseNamingConvention: FullName becomes Full_Name"
Would be great to have UseSnakeProperCaseNamingConvention since the current UseSnakeCaseNamingConvention changes the column name to lowercase, where POCO's are then out of sync for those that manage larger projects and have some issues where 'People' are not distinguishing between lower and uppercase in class properties for documentation and generally using in SQL and POCO's -- so this is a featur

[2022-08-10 18:18] roji commented on #151
Thanks. I'm currently busy with other things, but later this year I plan a work cycle around this plugin - stay tuned.

[2022-09-02 11:55] benedict-odonovan opened #154 "TPC: generated index use parent name"
Was pointed here [from the dotnet/efcore repository.](https://github.com/dotnet/efcore/issues/28848)

The preview versions of EF7 support Table per Concrete Type inheritance which is currently incompatible with `.UseSnakeCaseNamingConvention`. Generated indexes use the name of the parent type rather than that of the child type, causing migrations to fail because of duplicate index names.

Entity M

[2022-09-02 16:14] AndriySvyryd commented on #154
Fixing this properly won't be possible until https://github.com/dotnet/efcore/issues/27973, https://github.com/dotnet/efcore/issues/27972 and https://github.com/dotnet/efcore/issues/27971 are fixed. The best that can be done for EF 7 is skipping objects on entity types using TPC or entity splitting

[2022-09-03 21:07] mmesdag opened #155 "MissingMethodException when run against latest EFCore RC2 build"
I pulled down the daily EFCore builds, and it seems like the changes to conventions there (PR [28601](https://github.com/dotnet/efcore/pull/28601)) have broken these, at least the `.UseSnakeCaseNamingConvention()` in my case.

Whenever it's triggered (app startup, creating a migration), this error pops up:

``System.Reflection.TargetInvocationException: Exception has been thrown by the target of a

[2022-09-04 06:18] roji commented on #155
You cannot mix versions by using the 6.0 version of EFCore.NamingConventions with a 7.0 prerelease version of EF Core. You'll have to wait until a 7.0 version of EFCore.NamingConventions is released.

[2022-09-04 06:18] #155 closed

[2022-09-15 11:17] DukeCheng opened #157 "Name Preprocessor propose"
I usually like to add a suffix for Persist Object class naming,
example for `UserEntity,` and expected table name `User`,  Class Name: `UserEntity` => TableName: `User`

So is there have a name preprocessor for this let me to remove the suffix when convert the name,
If doesn't have yet,  I can commit a pr to support the NamePreprocessor, do you have any suggest?

[2022-09-15 11:22] roji commented on #157
@DukeCheng what's the rule here? When is which suffix supposed to be removed?

[2022-09-15 11:33] roji commented on #157
@DukeCheng that sounds like a dup of #42

[2022-09-15 11:45] roji commented on #157
Duplicate of #42

[2022-09-15 11:46] roji commented on #157
Nobody's working on that for now. I'm heads-down working on EF Core 7.0 and related urgent things, typically shortly before or after the release I do a work cycle on this plugin (at the very least to make it compatible with the new EF Core release). I might be able to do that as part of that.

[2022-09-15 11:46] #157 closed

[2022-09-20 15:46] itsmuntadhar opened #158 "Incompatible with .net7.0-rc1"
So I was testing converting a small project to .net 7 and had this issue

[code]

Full stack trace below

[code]

thanks for the awesome and hard work

[2022-09-20 16:00] roji commented on #158
This is expected - since EF makes various changes, you cannot mix versions of the plugin and EF.

I plan to do a work cycle on the plugin later, as we get closer to the 7.0 release - hang in there.

[2022-09-20 16:00] #158 closed

[2022-09-22 10:52] cyril265 opened #159 "EF 7 target (EF 7 RC1 breaks NamingConventions)"
I know there is no version for EF 7 yet but it was working with the previous preview versions. Looks like it broke because a method signature was changed https://github.com/dotnet/efcore/blob/main/src/EFCore/Metadata/Conventions/ConventionSet.cs#L17 (IList => List). Is there a chance that we get a version that targets EF 7?

Error:
[code]

[2022-09-22 11:09] cyril265 commented on #159
oops, I just saw that there is already a closed issue about it - closing

[2022-09-22 11:09] #159 closed

[2022-09-29 22:23] dean-dot-git opened #162 ""Method not found" via MissingMethodException"
Getting the following error creating the db context using:

    protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
    {
        optionsBuilder.UseSnakeCaseNamingConvention();
        base.OnConfiguring(optionsBuilder);
    }

ERROR

System.MissingMethodException: Method not found: 'System.Collections.Generic.IList`1<Microsoft.EntityFrameworkCore.Metadata.Conventions.IEn

[2022-09-29 23:03] roji commented on #162
Duplicate of #158

[2022-09-29 23:03] #162 closed

[2022-11-15 13:49] wbuck commented on #122
I was also hoping this would work for Cosmos DB.
@TarasKovalyk would you be willing to post your full work around for this?

[2022-11-20 08:12] MacShack commented on #15
Hold on a moment. Am I the only one who just wants the name of the tables to reflect the name of the type rather than that of some singularized form of a plural name which most of the time is already a pluralized form of the type?

So you have a entity called `Person` (which most likely is a wrong name for the type anyway. But ok). Then people spend time debating really hard that it should be `Peo

[2022-11-20 09:14] roji commented on #15
@MacShack I think you have things confused - this extension (EFCore.NamingConventions) just changes the casing of identifiers (e.g. PascalCase to snake-case), it does not do any plural->singular transformations (or vice versa). This specific issue is asking for this extension to do singularization (but it does not currently do that).

As for EF itself, as @bricelam noted [above](https://github.com

[2022-11-30 16:28] tuggernuts commented on #147
Hi, @roji

I noticed this repo was updated to 7.0.0.

It seems 7.0.0 is incompatibile with efcore 7.0.0-preview.7.22357.2. But I can't upgrade efcore beyond 22357.2, because this issue(#147) still exists.

Do you have any idea when you may get a chance to look into this issue? Or maybe point me at a workaround?

Thanks,
Jerry